<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
     

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">

    <ui:define name="content">
            <div id="page-wrapper" style="padding: 0px">
           
            <!-- Mas contenido -->
	            <div class="img-splash"> </div>
            </div>
    </ui:define>
</ui:composition>
		
</html>