<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
     

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">

    <ui:define name="content">
            <div id="page-wrapper">
           
            <!-- Contenido Mapa -->
	         <div id="map"></div>
	         
            </div>
            
		    <script type="text/javascript">
		    
		    	$( document ).on('ready', function(){
			    	var map = L.map('map').setView([-32.405401, -56.025930], 7);
			    	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			    	    attribution: '&copy; <a href="http://osm.org/copyright"> SICA Map </a> contributors',
			    	    maxZoom: 16
			    	}).addTo(map);
		    	});
		    	
		    	    	
		    </script>            
    </ui:define>
</ui:composition>
		
</html>