<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      

<ui:composition template="/WEB-INF/xhtml/template/template_modal.xhtml">
	<ui:define name="modal_header">
		<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{msg.tipoCatastrofeCrear}"></h:outputText> </h4>
	</ui:define>
	
	<ui:define name="modal_body">
	
		<h:form id="tipoCatastrofeForm" class="form-horizontal">
			<div class="modal-body">

				<b><h:outputText value="#{msg.valoresComunesId}"/></b>
				
				<div class="form-group">
				<div class="col-md-12">
						<h:inputText id="tipoCatastrofe_id" class="form-control" value="#{tipoCatastrofeBean.id}" readonly="true"></h:inputText>
						<h:inputHidden id="tipoCatastrofe_hidden_id" value="#{tipoCatastrofeBean.id}" > </h:inputHidden>
					</div>
				</div>
				
				<b><h:outputText value="#{msg.valoresComunesNombre}" /></b>
				<div class="form-group">
					<div class="col-md-12">
						<h:inputText id="tipoCatastrofe_nombre" class="form-control" value="#{tipoCatastrofeBean.nombre}"></h:inputText>
					</div>
				</div>
				
				<b><h:outputText value="#{msg.valoresComunesEstilo}"></h:outputText></b>
				<div class="form-group">
					<div class="col-md-12">
						<h:inputTextarea id="tipoCatastrofe_estilo" value="#{tipoCatastrofeBean.estilo}" class="form-control" rows="7" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-12">
						<input type="file"  id="cssFile" name="cssFile" class="filestyle" data-buttonName="btn-primary" 
							data-buttonBefore="true" data-buttonText="#{msg.valoresComunesCopiarCss}"/>
					</div>
				</div>
				
				<div class="modal-footer">
					<h:commandButton id="salvarOng" class="btn btn-sm btn-success" action="#{tipoCatastrofeBean.salvarTipoCatastrofe()}" value="#{msg.valoresComunesSalvar}"></h:commandButton>
					<h:button value="close" data-dismiss="modal" class="btn btn-sm btn-default" />
				</div>
																	
			</div>
			
			<script type="text/javascript">
			$( document ).on('ready', function(){ 

				//CARGAR IMAGENES *****************			
				$("#cssFile").change(function(){
					 var input = $(this);
					 var file = input.get(0).files[0];
	                  fr = new FileReader();
	                  fr.onload = contenidoArchivo;
	                  fr.readAsText(file);
				});

	            function contenidoArchivo() {           
	                $('#tipoCatastrofeForm\\:tipoCatastrofe_estilo').val( fr.result ) ;
	             }   

				//VALIDACIONES *********************
// 				([#.@]?[\w.:> ]+)[\s]{[\r\n]?([A-Za-z\- \r\n\t]+[:][\s]*[\w .\/()\-!]+;[\r\n]*(?:[A-Za-z\- \r\n\t]+[:][\s]*[\w .\/()\-!]+;[\r\n]*(?2)*)*)}
			    $('#tipoCatastrofeForm').bootstrapValidator({
			    	live: 'enabled',
			        feedbackIcons: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        	'tipoCatastrofeForm:tipoCatastrofe_nombre': {
			                validators: {
			                    notEmpty: {
			                        message: 'Campo Obligatorio'
			                    },
			                    remote: {
			                        message: 'Nombre ya existe.',
			                        url: requestParams['host']+ ":" + requestParams['puerto']+ "/" + requestParams['contexto']+ "/" + requestParams['path'] + "/tiposCatastrofes/validarPorNombre",
			                        data: function(validator) {
			                            return {
			                                id: validator.getFieldElements('tipoCatastrofeForm:tipoCatastrofe_id').val()
			                            }
			                    	}				                    
			                	}	
			                }
			            },	                    
			            'tipoCatastrofeForm:tipoCatastrofe_estilo': {
							validators:{
			                    notEmpty: {
			                        message: 'Campo Obligatorio'
			                    }
							}
				        },
				        'cssFile' : {
			                validators: {
			                    file: {
			                        extension: 'css',
			                        type: 'text/css',
			                        message: 'Formato de archivo inválido.'
									//maxSize: 2097152,   // 2048 * 1024
			                    }
			                }
						}			            				            			            				            
			        }
			    });				
			});
		</script>			
			
		</h:form>
	</ui:define>
</ui:composition>
		
</html>