.back_login{
	background-color: #f8f8f8;
}

.img-splash  {
    display: block;
    position: relative;	
	background-image: url("../img/catastrofes4_blur.png");/*no-repeat center center fixed*/
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.modal-dialog{
	z-index: 1500;
}

.input-error{
	color: #c73434;
}

.select_input{
	display: block;
}

.has-error input{
	background-color: #f3e5e5;
}

.command-link {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333 !important;
	white-space: nowrap;
	text-decoration: none !important;
}

a.command-link:hover, a.command-link:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

div.col-md-6 i.form-control-feedback {
	left:250px !important;
	top:20px !important;
}

#map { 
	height: 600px; 
}

#mapCatastrofe{
	height: 400px;
	width: 100%;
}

.btn-grilla{
	margin-right: 5px;
}

.img-catastrofe{
	height: 120px !important;
}

.top-buffer{
	margin-top:20px;
}

.bottom-buffer{
	margin-bottom:20px;
}

/*.galleria{ 
 	width: 700px; 
 	height: 400px; 
 	background: #000 
}*/
#galleriaSica{
	height:467px
}

.span12 {
	text-align: center
}
