<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SICA">
    <meta name="author" content="SICA Team Work">

    <title>SICA Home</title>

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.%22%2C%22nocss%22%3Atrue%7D%5D%7D"></script>

    <link rel="stylesheet" href="css/angular-feeds.min.css"/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- SICA CSS -->
    <link href="css/bootstrap_custom.css" rel="stylesheet">

    <!-- Custom Fonts css-->
    <link href="components/awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Map lib css -->
    <link rel="stylesheet" href="css/leaflet.css" />

    <!-- Bootstrap growl css-->
    <link href="css/angular-growl.min.css" rel="stylesheet">

    <!-- Angular Animation Augus css-->
    <!-- <link rel="stylesheet" type="text/css" href="css/ng-animation.css">   -->

    <!-- Animate css -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">

    <!-- Leaflet AwesomeMarker css-->
    <link rel="stylesheet" type="text/css" href="css/leaflet.awesome-markers.css">

    <!-- Bootstrap slider css -->
    <link rel="stylesheet" type"text/css" href="css/bootstrap-slider.min.css">
    
    <!-- Angular Snap css  -->
    <!-- <link rel="stylesheet" type="text/css" href="css/angular-snap.min.css">     -->

    <!-- Angular blockUI css -->
    <link rel="stylesheet" type="text/css" href="css/angular-block-ui.min.css">

    <!-- Preety checkable css -->
    <link rel="stylesheet" type="text/css" href="css/pretty-checkable.css">

</head>

<body data-ng-app="app" data-ng-controller="indexController">

    <!-- User menu -->
    <span data-ng-show="isLogeado()" data-ng-controller="authController" data-ng-class="{'ng-hide' : isAction()}" id="menu-user" class="btn-dark btn-lg"><i class="fa fa-stack-2x">
        <img title="Perfil" data-ng-click="perfilBtn()" data-ng-controller="authController" class="img-user fa-stack-1x img-circle" data-ng-src="{{logo}}">
    </i></span>

    <!-- Navigation -->
    <a id="menu-toggle" data-ng-controller="actionController" data-ng-show="!isAction()" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#home">SICA</a>
            </li>
            <li>
                <a href="#home">Mapa</a>
            </li>
            <li>
                <a href="#info">Noticias</a>
            </li>
            <li data-ng-show="isLogeado()" data-ng-controller="authController" >
                <a href="#actions">Servicios</a>
            </li>
            <li  data-ng-show="!isLogeado()" data-ng-controller="authController" >
                <a href="#register">Regístrese</a>
            </li>
            <li>
                <a href="#about">Conózcanos</a>
            </li>
            <li>
                <a href="#contact">Contacto</a>
            </li>
            <li  data-ng-show="isLogeado()" data-ng-controller="authController" >
                <a href="#" data-ng-click="logout()">Logout</a>
            </li>
        </ul>
    </nav>

    <ng-view autoscroll="true"></ng-view>

    <!-- Contact -->
    <section id="contact" class="contact" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sistema Integrado de Catástrofes y Alertas</h2>
                    <p class="lead">Tenga en cuenta que este es un prototipo, no dude en reportar bugs :-)</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal growl -->
    <div growl></div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>SICA Team Work</strong>
                    </h4>
                    <p>Herrera y Reissig 965<br>Montevideo, UY 11200</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (+598) 99217683</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <!-- <a href="mailto:contact@sica.com"> --><a href="mailto:contact@sica.com" target="_blank">contact@sica.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <!-- <li>
                            <a data-toggle="modal" data-target="#modalProx"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#modalProx"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li> -->
                        <li>
                            <a title="Donación" data-toggle="modal" data-target="#modalDonacion"><i class="fa fa-cc-paypal fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a title="Donación de artículos" data-toggle="modal" data-target="#modalADonacion"><i class="fa fa-inbox fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a title="Ofrecer servicios" data-toggle="modal" data-target="#modalSDonacion"><i class="fa fa-group fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p  class="text-muted">Copyright &copy; SICA Development 2014</p>
                    <p  class="text-muted">Powered by <a target="_blank" href="https://angularjs.org/">Angular</a></p>
                    <i class="fa fa-desktop fa-fw fa-2x"></i>
                    <i class="fa fa-tablet fa-fw fa-2x"></i>
                    <i class="fa fa-mobile fa-fw fa-2x"></i>
                </div>
            </div>
        </div>

        <!-- Modal proximamente -->
        <div class="modal fade" id="modalProx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel"><h1></h1></h4>
              </div>
              <div class="modal-body">
                <h2>Proximamente...</h2>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Login-->
        <div class="modal fade" ng-controller="authController" data-ng-click="clearLoginFrm()" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><h1>Inicio de sesión</h1></h4>
                  </div>
                  <div class="modal-body">
                    <form name="loginForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>E-mail</label>
                                <input type="email" data-ng-model="loginData.email" class="form-control" placeholder="Email" name="email" required>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Password</label>
                                <input type="password" data-ng-model="loginData.password" class="form-control" placeholder="Password" name="password" required>
                            </div>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div class="modal-footer">
                                <div class="pull-left">
                                    <!-- <button title="Login Twitter" type="submit" data-toggle="modal" data-dismiss="modal" class="btn btn-info "><i class="fa fa-twitter fa-fw fa-2x"></i></button> -->
                                    <!-- <button title="Login Facebook" type="button" data-ng-click="loginFB()" class="btn btn-info"><i class="fa fa-facebook fa-fw fa-2x"></i></button> -->
                                    <div title="Login con Facebook" class="fb-login-button">Login con Facebook</div>
                                </div>
                                <button type="submit" data-toggle="modal" data-dismiss="modal" data-ng-disabled="loginForm.$invalid" data-ng-click="login()" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        
        <!-- Modal donación -->
        <div class="modal fade" id="modalDonacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel"><h1>Donación</h1></h4>
              </div>
              <div class="modal-body">
                <h3>Seleccione una ONG</h3>
                <form id="donateForm" target="_blank" name="donateForm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_donations">
                    <input type="hidden" name="business" value="{{donate.selectONG.email}}">
                    <input type="hidden" name="lc" value="UY">
                    <input type="hidden" name="item_name" value="Sistema Integrado de Catástrofes y Alertas">
                    <input type="hidden" name="item_number" value="{{donate.selectONG.nombre}}">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
                    <select class="form-control gray-important" ng-model="donate.selectONG" ng-options="ong.nombre for ong in ongs" required>
                      <!-- <option value=""> Seleccionar una ONG </option> -->
                    </select>
                    <!-- <a title="Donación" type="_blank" onclick="document.getElementById('pay').submit()"><i class="fa fa-cc-paypal fa-fw fa-3x"></i></a> -->
                </form>
              </div>
              <div class="modal-footer">
                <button data-ng-disabled="donateForm.$invalid" data-ng-click="resetDonate()" onclick="document.getElementById('donateForm').submit()" type="button" class="btn btn-primary" data-dismiss="modal">Donar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal donación artículos -->
        <div class="modal fade" id="modalADonacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel"><h1>Donar artículos</h1></h4>
              </div>
              <div class="modal-body">
                <form id="donateAForm" name="donateAForm">
                    <div class="col-md-12">
                        <h4>Seleccione una ONG</h4>
                    </div>
                    <div class="form-group">
                        <select class="form-control gray-important" ng-model="donateA.selectONG" ng-options="ong.nombre for ong in ongs" required>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <h4 class="inline">Identificación</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" title="Nombre" placeholder="Nombre" type="text" ng-model="donateA.nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" title="Telefono" placeholder="Telefono" type="text" ng-model="donateA.telefono">
                    </div>
                    <div class="form-group col-md-9">
                        <input class="form-control" title="Direccion" placeholder="Direccion" type="text" ng-model="donateA.direccion">
                    </div>
                    <div class="form-group col-md-3">
                        <pretty-checkbox class="clearfix" ng-model="donateA.retirar" label="'Retirar'"></pretty-checkbox>
                    </div>
                    <div class="form-group text-center">
                        <h4 class="inline">Artículos</h4>
                        <button data-toggle="collapse" data-target="#nuevoArticulo" title="Nuevo artículo" type="button" class="btn btn-sm btn-default pull-right">
                            <i class="fa fa-pencil-square-o fa-lg"></i>
                        </button>
                    </div>
                    <div id="nuevoArticulo" class="form-group collapse">
                        <div class="col-md-8">
                            <input class="form-control" title="Nombre" placeholder="Nombre" type="text" ng-model="articulo.nombre">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" title="Cantidad" placeholder="Cant" type="number" data-ng-model="articulo.cantidad">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm btn-success" title="Agregar" ng-click="addArticulo()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in donateA.articulos">
                                    <td>{{row.nombre}}</td>
                                    <td>{{row.cantidad}}</td>
                                    <td>
                                        <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button data-ng-disabled="donateAForm.$invalid" data-ng-click="donateArticulos()" type="button" class="btn btn-primary" data-dismiss="modal">Donar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal donación servicios -->
        <div class="modal fade" id="modalSDonacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel"><h1>Donar un servicio</h1></h4>
              </div>
              <div class="modal-body">
                <form id="donateAForm" name="donateAForm">
                    <!-- <div class="form-group col-md-6">
                        <input class="form-control" title="Nombre" placeholder="Nombre" type="text" ng-model="donateS.nombre">
                    </div> -->
                    <div class="col-md-12">
                        <h3>Seleccione una ONG</h3>
                    </div>
                    <div class="form-group">
                        <select class="form-control gray-important" ng-model="donateS.selectONG" ng-options="ong.nombre for ong in ongs" required>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <h4 class="inline">Identificación</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" title="Nombre" placeholder="Nombre" type="text" ng-model="donateS.nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" title="Telefono" placeholder="Telefono" type="text" ng-model="donateS.telefono">
                    </div>
                    <div class="form-group col-md-8">
                        <input class="form-control" title="Profesión" placeholder="Profesión" type="text" ng-model="donateS.profesion">
                    </div>
                    <div class="form-group col-md-4">
                        <input class="form-control" title="Carga horaria" placeholder="Carga horaria" type="number" data-ng-model="donateS.cantidad">
                    </div>
                </form>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button data-ng-disabled="donateAForm.$invalid" data-ng-click="donateServices()" type="button" class="btn btn-primary">Donar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>
                    <!-- <div id="nuevoServicio" class="form-group collapse">
                        <div class="col-md-5">
                            <input class="form-control" title="Nombre" placeholder="Nombre" type="text" ng-model="servicio.nombre">
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" title="Profesión" placeholder="Profesión" type="text" ng-model="servicio.profesion">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" title="Carga horaria" placeholder="Carga horaria" type="number" data-ng-model="servicio.horas">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm btn-success" title="Agregar" ng-click="addServicio()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div> -->
                    <!-- <div class="form-group">
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Profesion</th>
                                    <th>Horas</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in donateS.servicios">
                                    <td>{{row.nombre}}</td>
                                    <td>{{row.profesion}}</td>
                                    <td>{{row.horas}}</td>
                                    <td>
                                        <button type="button" ng-click="removeItemServicio(row)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                    <!-- </div> -->
              <!-- </div> -->
              

    <!-- jQuery js -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Snap js -->
    <!-- <script src="js/snap.min.js"></script> -->

    <!-- Map lib js -->
    <script src="js/leaflet.js"></script>

    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jQuery WebTicker Map js-->
    <script src="js/jquery.webticker.min.js"></script>

    <!-- jQuery NewsTicker js-->  
    <script src="js/jquery.newsTicker.min.js"></script>

    <!-- Angular libs js -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>
    <script src="lib/angular/angular-leaflet-directive.min.js"></script>
    <script src="lib/angular/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular/angular-md5.min.js"></script>
    <script src="lib/angular/angular-growl.min.js"></script>
    <!-- <script src="lib/angular/angular-snap.min.js"></script> -->
    <script src="lib/angular/angularjs-dropdown-multiselect.min.js"></script>
    <script src="lib/angular/angular-bootstrap-slider.js"></script>
    <script src="lib/angular/angular-websocket.js"></script>
    <script src="lib/angular/angular-facebook.js"></script>
    <script src="lib/angular/angular-block-ui.min.js"></script>
    <script src="lib/angular/angular-pretty-checkable.js"></script>
    <script src="lib/angular/twitter-timeline.js"></script>
    <script src="lib/angular/easy-social-share.js"></script>
    <script src="lib/angular/angular-feeds.min.js"></script>

    <!-- Bootstrap slider js -->
    <script src="js/bootstrap-slider.min.js"></script>

    <!-- Leaflet Awesome Markers js-->
    <script src="js/leaflet.awesome-markers.min.js"></script>

    <!-- LoDash for angularjs dropdown multiselect -->
    <script src="js/lodash.min.js"></script>

    <!-- Home js -->
    <script src="js/home.js"></script>

    <!-- Config file js -->
    <script src="js/parametros.js"></script>


    <!-- Angular main app js-->
    <script src="js/app.js"></script>
    <!-- Angular controllers js-->
    <script src="js/controllers.js"></script>
    <!-- Angular services js-->
    <script src="js/services.js"></script>
    <!-- Angular routes js-->
    <script src="js/routes.js"></script>
    <!-- Angular directives js-->
    <script src="js/directives.js"></script>

    <script src="https://platform.twitter.com/widgets.js"></script>

</body>
</html>