<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">

    <ui:define name="content">
    	<h:form role="form"> 
            <div id="page-wrapper">
	            <div class="row">
	                <div class="col-lg-12">
	                    <h1 class="page-header"> <h:outputText value="#{msg.tituloONG}"/></h1>
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            
	            <!-- Crear nuevo -->
				<ui:include src="/WEB-INF/xhtml/botones/botonCrearNuevo.xhtml"/>
				
	            <!-- Grilla de contenidos -->
	            <div class="row">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading"><h:outputText value="#{msg.ongListado}" /></div>
	
						<div class="panel-body">
							<div class="table-responsive">
								
									<!-- Table  -->
									<h:dataTable value="#{listadoOng.listadoOng}" var="ong" 
										styleClass="table table-striped table-bordered table-hove">
										
										<h:column  >
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesId}" />
											</f:facet>    				
								      	#{ong.id}
								      	</h:column>
								      	
									   <h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesNombre}" />
											</f:facet>
									      #{ong.nombre}
									   </h:column>
									   
										<h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesEmail}" />
											</f:facet>
								      		#{ong.email}
								   		</h:column>
								   		
										<h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesTelefono}" />
											</f:facet>
								      		#{ong.telefono}
								   		</h:column>								   		
								   		
										<h:column span="3">
												<button type="button" data-toggle="modal"
													data-target="#myModal" style="margin-right: 5px;" class="btn btn-success btn-circle"
													 data-id="#{ong.id}" title="#{msg.editar}"> 
													<i class="glyphicon glyphicon-pencil"></i>
												</button>
													
												<h:commandLink class="btn btn-danger btn-circle" action="#{listadoOng.eliminarOng()}"
													title="#{msg.eliminar}" value="">
													<i class="glyphicon glyphicon-trash"></i>
													<f:setPropertyActionListener  target="#{listadoOng.idOng}" value="#{ong.id}"></f:setPropertyActionListener>
												</h:commandLink>
	
										</h:column>
									</h:dataTable>
							</div>
						</div>
					</div>            
	            </div>				
				
            </div>
        </h:form>
		<ui:include src="/xhtml/ong/detalleOng.xhtml"/>
		
		<script type="text/javascript">
      	
    	$('#myModal').on('show.bs.modal', function(event) {

//	    	myApp.showPleaseWait();

    		  var button = $(event.relatedTarget) // Button that triggered the modal
    		  var id = button.data('id') // Extract info from data-* attributes
    		  var modal = $(this);

  			//solo si es modo edicion

  			if (id !== undefined){	
    		  cargarOngModal( id , function( ong ){
				  //callback del llamado ajax
					
				  var form = $(modal.find('form')).attr("name");

				  var id = form + ":" + "ong_id";
				  var id_hidden = form + ":" + "ong_hidden_id";
				  var nombre = form + ":" + "ong_nombre";
				  var email = form + ":" + "ong_email";
				  var telefono = form + ":" + "ong_telefono";
				  var direccion = form + ":" + "ong_direccion";
				  var sitioWeb = form + ":" + "ong_sitioWeb";
				  
				  modal.find('.modal-body input[name="'+ id +'"]').val( ong.id );
				  modal.find('.modal-body input[name="'+ id_hidden +'"]').val( ong.id );
	    		  modal.find('.modal-body input[name="'+ nombre +'"]').val( ong.nombre );
	    		  modal.find('.modal-body input[name="'+ email +'"]').val( ong.email );
	    		  modal.find('.modal-body input[name="'+ telefono +'"]').val( ong.telefono );
	    		  modal.find('.modal-body input[name="'+ direccion +'"]').val( ong.direccion );
	    		  modal.find('.modal-body input[name="'+ sitioWeb +'"]').val( ong.sitioWeb );
//		    		myApp.hidePleaseWait();
			  });
  			}
    	});

    	$('#myModal').on('hide.bs.modal', function(event) {
	    	
    		var modal = $(this);
    		var form = $(modal.find('form'))
    		$(form).data('bootstrapValidator').resetForm();
	    });
    	

    	
	</script>	
		
	</ui:define>
</ui:composition>
		
</html>