<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:sic="http://sica.com/facelets">
      
<ui:composition template="/WEB-INF/xhtml/template/template_modal.xhtml">
	
	<style type="text/css">
		#ongForm i.form-control-feedback {
		    top: 5px !important;
		    right: 5px;
		}
	</style>	
	
	<ui:define name="modal_header">
		<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{msg.ongCrear}"></h:outputText> </h4>
	</ui:define>

		<ui:define name="modal_body">
		
			<h:form id="ongForm" class="form-horizontal">
			
			<div class="modal-body">
				
				<b><h:outputText value="#{msg.valoresComunesId}"/></b>
				<div class="form-group" >
					<div class="col-md-12">
						<h:inputText id="ong_id" class="form-control" value="#{ongBean.id}" readonly="true"></h:inputText>
						<h:inputHidden id="ong_hidden_id" value="#{ongBean.id}" > </h:inputHidden>
					</div>
				</div>
				
				<b><h:outputText value="#{msg.valoresComunesNombre}" /></b>
				<div class="form-group" >
					<div class="col-md-12">
						<h:inputText id="ong_nombre" class="form-control" value="#{ongBean.nombre}"></h:inputText>
					</div>
				</div>
				
				<b><h:outputText value="#{msg.valoresComunesEmail}" /></b>
				<div class="form-group" >
					<div class="col-md-12">
						<h:inputText id="ong_email" class="form-control" value="#{ongBean.email}"></h:inputText>
					</div>
				</div>
				
				<b><h:outputText value="#{msg.valoresComunesDireccion}" /></b>
				<div class="form-group" >			
					<div class="col-md-12">
						<h:inputText id="ong_direccion" class="form-control" value="#{ongBean.direccion}"></h:inputText>	
					</div>
				</div>
				
				<b><h:outputText value="#{msg.valoresComunesTelefono}" /></b>
				<div class="form-group" >
					<div class="col-md-12">		
						<h:inputText id="ong_telefono" class="form-control" value="#{ongBean.telefono}"></h:inputText>
					</div>	
				</div>
				
				<b><h:outputText value="#{msg.valoresComunesSitioWeb}" /></b>
				<div class="form-group" >
					<div class="col-md-12">		
						<h:inputText id="ong_sitoWeb" class="form-control" value="#{ongBean.sitioWeb}"></h:inputText>
					</div>	
				</div>				
			</div>
	
			<div class="modal-footer">
				<h:commandButton id="salvarOng" class="btn btn-sm btn-success" action="#{ongBean.salvarOng()}" value="#{msg.valoresComunesSalvar}"></h:commandButton>
				<h:button value="close" data-dismiss="modal" class="btn btn-sm btn-default" />
			</div>
		
		</h:form>
		
			<script type="text/javascript">
				$( document ).on('ready', function(){ 

				    $('#ongForm').bootstrapValidator({
				    	live: 'enabled',
				        feedbackIcons: {
				            valid: 'glyphicon glyphicon-ok',
				            invalid: 'glyphicon glyphicon-remove',
				            validating: 'glyphicon glyphicon-refresh'
				        },
				        fields: {
				        	'ongForm:ong_nombre': {
				            	    validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
				                }
				            },
				            'ongForm:ong_email': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio.'
				                    },
				                    emailAddress: {
				                        message: 'Dirección de correo inválida.'
				                    },			                    
				                    remote: {
				                        message: 'Email ya existe',
				                        url: requestParams['host']+ ":" + requestParams['puerto']+ "/" + requestParams['contexto']+ "/" + requestParams['path'] + "/ongs/validarPorEmail",
				                        data: function(validator) {
				                            return {
				                                id: validator.getFieldElements('ongForm:ong_id').val()
				                            }
				                    	}				                    
				                	}
				            	}
				        	}
				        }
				    });				
				});
			</script>			

		</ui:define>
</ui:composition>
</html>