<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">
	<ui:define name="content">
		<h:form role="form">
			<div id="page-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header"><h:outputText value="#{msg.tituloPlanes}"/> </h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				

				<!--Crear nuevo Botonera -->
				<div class="row">
					<div class="panel-body">
						<button id="btnCrearNuevo" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" data-tipo="2" >
							<h:outputText value="#{msg.valoresComunesCrearNuevo}"></h:outputText>
						</button>
					</div>
				</div>			
				
	            <!-- Grilla de contenidos -->
	            <div class="row">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading"><h:outputText value="#{msg.planesEmergenciaListado}" /></div>
	
						<div class="panel-body">
							<div class="table-responsive">
								
									<!-- Table  -->
									<h:dataTable value="#{listadoPlanesBean.listadoPlanesEmergencia}" var="planes" 
										styleClass="table table-striped table-bordered table-hove">
										
										<h:column >
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesOrden}" />
											</f:facet>    				
								      	#{planes.orden}
								      	</h:column>
								      	
									   <h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesPaso}" />
											</f:facet>
									      #{planes.pasos}
									   </h:column>								      	
									   
									   <h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesDescripcion}" />
											</f:facet>
									      #{planes.descripcion}
									   </h:column>									   
									   							   		
								   		
										<h:column span="3">
												<button type="button" data-toggle="modal" title="#{msg.editar}"
													data-target="#myModal" style="margin-right: 5px;" class="btn btn-success btn-circle" data-id="#{planes.id}" data-tipo="2"> 
													<i class="glyphicon glyphicon-pencil"></i>
												</button>
												<h:commandLink class="btn btn-danger btn-circle" action="#{listadoPlanesBean.eliminarPlanEmergencia()}"
													title="#{msg.eliminar}" value="">
													<i class="glyphicon glyphicon-trash"></i>
													<f:setPropertyActionListener  target="#{listadoPlanesBean.idPlan}" value="#{planes.id}"></f:setPropertyActionListener>
												</h:commandLink>	
										</h:column>
									</h:dataTable>
							</div>
						</div>
					</div>            
	            </div>			
	            

				<!--Crear nuevo Botonera -->
				<div class="row">
					<div class="panel-body">
						<button id="btnCrearNuevo" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" data-tipo="1" >
							<h:outputText value="#{msg.valoresComunesCrearNuevo}"></h:outputText>
						</button>
					</div>
				</div>
				
	            <!-- Grilla de contenidos -->
	            <div class="row">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading"><h:outputText value="#{msg.planesRiesgoListado}" /></div>
	
						<div class="panel-body">
							<div class="table-responsive">
								
									<!-- Table  -->
									<h:dataTable value="#{listadoPlanesBean.listadoPlanesRiesgo}" var="planes" 
										styleClass="table table-striped table-bordered table-hove">
										
										<h:column  >
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesOrden}" />
											</f:facet>    				
								      	#{planes.orden}
								      	</h:column>
								      	
									   <h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesPaso}" />
											</f:facet>
									      #{planes.pasos}
									   </h:column>
									   
									   <h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesDescripcion}" />
											</f:facet>
									      #{planes.descripcion}
									   </h:column>									   
									   							   		
								   		
										<h:column span="3">
												<button type="button" data-toggle="modal" title="#{msg.editar}"
													data-target="#myModal" style="margin-right: 5px;" class="btn btn-success btn-circle" data-id="#{planes.id}" data-tipo="1"> 
													<i class="glyphicon glyphicon-pencil"></i>
												</button>
												
												<h:commandLink class="btn btn-danger btn-circle" action="#{listadoPlanesBean.eliminarPlanRiesgo()}" 
													value=""  title="#{msg.eliminar}">
													<i class="glyphicon glyphicon-trash"></i>
													<f:setPropertyActionListener  target="#{listadoPlanesBean.idPlan}" value="#{planes.id}"></f:setPropertyActionListener>
												</h:commandLink>												
										</h:column>
									</h:dataTable>
							</div>
						</div>
					</div>            
	            </div>		            					
				
			</div>
		</h:form>
		<ui:include src="/xhtml/planes/detallePlanes.xhtml"/>
		
		<script type="text/javascript">
	
			$('#myModal').on('show.bs.modal', function(event) {
		
		//    	myApp.showPleaseWait();
		
				  	var button = $(event.relatedTarget) // Button that triggered the modal
				  	
				  	var id = button.data('id'); // Extract info from data-* attributes
				  	var tipo = button.data('tipo');
				  	debugger;
				  	var modal = $(this);
					var form = $(modal.find('form'))
					$(form).data('bootstrapValidator').resetForm();
					$(form).data('bootstrapValidator').resetForm();

					//el tipo de plan siempre se debe pasar al modal
					modal.find('.modal-body input[name="planForm:planes_tipo"]').val( tipo );
					
					//solo si es modo edicion
					if (id !== undefined){	
						cargarPlanModal( id , tipo, function( plan ){
						  //callback del llamado ajax
						  
						  modal.find('.modal-body input[name="planForm:planes_id"]').val( plan.id );
						  modal.find('.modal-body input[name="planForm:planes_orden"]').val( plan.orden );
			    		  modal.find('.modal-body input[name="planForm:planes_tipo"]').val( plan.tipoPlan );
			    		  modal.find('.modal-body input[name="planForm:planes_paso"]').val( plan.pasos );
			    		  modal.find('.modal-body textarea[name="planForm:planes_descripcion"]').val( plan.descripcion );
			    		  													              				
			//	    	myApp.hidePleaseWait();
				  });
				}
			});	
		
			$('#myModal').on('hide.bs.modal', function(event) {
				var modal = $(this);
				var form = $(modal.find('form'))
				$(form).data('bootstrapValidator').resetForm();
			});
		
		</script>			
		
	</ui:define>
	
</ui:composition>

</html>