<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:sic="http://sica.com/facelets">
      
<ui:composition template="/WEB-INF/xhtml/template/template_modal.xhtml">

		<ui:define name="modal_header">
			<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{msg.pasoCrear}"></h:outputText> </h4>
		</ui:define>
		
		<ui:define name="modal_body">
		
			<h:form id="planForm" class="form-horizontal">
			
			<div class="modal-body">
			
					<b><h:outputText value="#{msg.valoresComunesOrden}"/></b>
					<div class="form-group">
						<div class="col-md-12">
							<h:inputText id="planes_orden" class="form-control" value="#{planesBean.orden}"></h:inputText>
							<h:inputHidden id="planes_id" value="#{planesBean.id}" > </h:inputHidden>
							<h:inputHidden id="planes_tipo" value="#{planesBean.tipo}" > </h:inputHidden>
						</div>
					</div>

					<b><h:outputText value="#{msg.valoresComunesNombrePaso}" /></b>
					<div class="form-group" >
						<div class="col-md-12">
							<h:inputText id="planes_paso" class="form-control" value="#{planesBean.paso}" ></h:inputText>
						</div>
					</div>	

				
					<b><h:outputText value="#{msg.valoresComunesDescripcionPaso}"></h:outputText></b>
					<div class="form-group">
						<div class="col-md-12">
							<h:inputTextarea id="planes_descripcion" value="#{planesBean.descripcion}" class="form-control" rows="3" />
						</div>
					</div>
					
					<div class="modal-footer">
						<h:commandButton id="salvarPaso" class="btn btn-sm btn-success" action="#{planesBean.salvarPaso()}" value="#{msg.valoresComunesSalvar}"></h:commandButton>
						<h:button value="close" data-dismiss="modal" class="btn btn-sm btn-default" />
					</div>				
														
			</div>
		</h:form>
		
			<script type="text/javascript">
				$( document ).on('ready', function(){ 

				    $('#planForm').bootstrapValidator({
				    	live: 'enabled',
				        feedbackIcons: {
				            valid: 'glyphicon glyphicon-ok',
				            invalid: 'glyphicon glyphicon-remove',
				            validating: 'glyphicon glyphicon-refresh'
				        },
				        fields: {
				        	'planForm:planes_orden': {
								validators:{
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    },
				                    integer: {
				                        message: 'El valor debe ser un número.'
				                    },				                    
				                    remote: {
				                        message: 'El número de orden ya existe.',
				                        url: requestParams['host']+ ":" + requestParams['puerto']+ "/" + requestParams['contexto']+ "/" + requestParams['path'] + "/planes/validarOrden",
				                        data: function(validator) {
				                            return {
				                                id: validator.getFieldElements('planForm:planes_id').val(),
				                                tipo:validator.getFieldElements('planForm:planes_tipo').val()
				                            }
				                    	}				                    
				                	}
								}
					        },
				        	'planForm:planes_paso': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }	
				                }
				            },	                    
				            'planForm:descripcion': {
								validators:{
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
								}
					        }			            				            			            				            
				        }
				    });				
				});
			</script>			
		
	</ui:define>		
	
</ui:composition>

</html>