<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<!--             xmlns:b="http://bootsfaces.net/ui" -->

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">

    <ui:define name="content">
    	<h:form role="form"> 
            <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <h:outputText value="#{msg.tituloAdministradores}" /></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
				<ui:include src="/WEB-INF/xhtml/botones/botonCrearNuevo.xhtml"/>
				<!-- Grilla de contenidos -->
				<div class="row">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">
							<h:outputText value="#{msg.adminListado}" />
						</div>
	
						<div class="panel-body">
							<div class="table-responsive">
	
								<!-- Table  -->
								<h:dataTable value="#{listadoAdmin.listadoAdmin}" var="admin"
									styleClass="table table-striped table-bordered table-hove">
	
									<h:column>
										<f:facet name="header">
											<h:outputText value="#{msg.valoresComunesId}" />
										</f:facet>    				
									      	#{admin.id}
									      	</h:column>
	
									<h:column>
										<f:facet name="header">
											<h:outputText value="#{msg.valoresComunesNombre}" />
										</f:facet>
										      #{admin.nombre}
										   </h:column>
	
									<h:column>
										<f:facet name="header">
											<h:outputText value="#{msg.valoresComunesApellido}" />
										</f:facet>
										      #{admin.apellido}
										   </h:column>
	
									<h:column>
										<f:facet name="header">
											<h:outputText value="#{msg.valoresComunesEmail}" />
										</f:facet>
										      #{admin.email}
										   </h:column>
	
									<h:column>
										<f:facet name="header">
											<h:outputText value="#{msg.valoresComunesNick}" />
										</f:facet>
										      #{admin.nick}
										   </h:column>
	
	
									<h:column span="3">
										<button type="button" data-toggle="modal" title="#{msg.editar}"
											data-target="#myModal" style="margin-right: 5px;"
											class="btn btn-success btn-circle" data-id="#{admin.id}">
											<i class="glyphicon glyphicon-pencil"></i>
										</button>
	
										<h:commandLink class="btn btn-danger btn-circle" action="#{listadoAdmin.eliminarAdmin()}" value="" title="#{msg.eliminar}">
											<i class="glyphicon glyphicon-trash"></i>
											<f:setPropertyActionListener target="#{listadoAdmin.idAdmin}" value="#{admin.id}"></f:setPropertyActionListener>
										</h:commandLink>
	
										</h:column>
									</h:dataTable>
								</div>
							</div>
						</div>
					</div>				
				</div>
		</h:form>
		<ui:include src="/xhtml/admin/detalleAdmin.xhtml"/>
		
		<script type="text/javascript">
	
			$('#myModal').on('show.bs.modal', function(event) {
		
		//    	myApp.showPleaseWait();
		
				  	var button = $(event.relatedTarget) // Button that triggered the modal
				  	var id = button.data('id') // Extract info from data-* attributes
				  	var modal = $(this);
					var form = $(modal.find('form'))
					$(form).data('bootstrapValidator').resetForm();
					
					//solo si es modo edicion
					if (id !== undefined){	
						cargarUserModal( id , function( admin ){
						  //callback del llamado ajax
							
						  var form = $(modal.find('form')).attr("name");
			
						  var id = form + ":" + "admin_id";
						  var id_hidden = form + ":" + "admin_hidden_id";
						  var nombre = form + ":" + "admin_nombre";
						  var apellido = form + ":" + "admin_apellido";
						  var email = form + ":" + "admin_email";
						  var nick = form + ":" + "admin_nickAdmin";
						  var password = form + ":" + "admin_passwordAdmin";
						  var repassword = form + ":" + "admin_repasswordAdmin";
						  var celular = form + ":" + "admin_celular";
						  var fecha = form + ":" + "admin_fechaNacimiento";
						  
						  modal.find('.modal-body input[name="'+ id +'"]').val( admin.id );
						  modal.find('.modal-body input[name="'+ id_hidden +'"]').val( admin.id );
			    		  modal.find('.modal-body input[name="'+ nombre +'"]').val( admin.nombre );
			    		  modal.find('.modal-body input[name="'+ apellido +'"]').val( admin.apellido );
			    		  modal.find('.modal-body input[name="'+ email +'"]').val( admin.email );
			    		  modal.find('.modal-body input[name="'+ nick +'"]').val( admin.nick );
			    		  modal.find('.modal-body input[name="'+ password +'"]').val( admin.password );
			    		  modal.find('.modal-body input[name="'+ repassword +'"]').val( admin.password );
			    		  modal.find('.modal-body input[name="'+ celular +'"]').val( admin.celular );
			    		  modal.find('.modal-body input[name="'+ fecha +'"]').val( admin.fechaNacimiento );
		
			//	    	myApp.hidePleaseWait();
				  });
				}
			});	
		
			$('#myModal').on('hide.bs.modal', function(event) {
				var modal = $(this);
				var form = $(modal.find('form'))
				$(form).data('bootstrapValidator').resetForm();
			});
		
		</script>			
	</ui:define>
</ui:composition>
		
</html>