<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:sic="http://sica.com/facelets">
<!--  xmlns:b="http://bootsfaces.net/ui" -->

<ui:composition template="/WEB-INF/xhtml/template/template_modal.xhtml">

	<ui:define name="modal_header">
		<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{msg.adminCrear}"></h:outputText> </h4>
	</ui:define>
	
		<ui:define name="modal_body">
		
			<h:form id="adminForm">
			
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-6">
							<b><h:outputText value="#{msg.valoresComunesId}"/></b>
							<h:inputText id="admin_id" class="form-control" value="#{adminBean.id}" readonly="true"></h:inputText>
							<h:inputHidden id="admin_hidden_id" value="#{adminBean.id}" > </h:inputHidden>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesNombre}" /></b>
							<h:inputText id="admin_nombre" class="form-control" value="#{adminBean.nombre}" ></h:inputText>
					</div>
					<div class="form-group col-md-6">
							<b><h:outputText value="#{msg.valoresComunesApellido}" /></b>
							<h:inputText id="admin_apellido" class="form-control" value="#{adminBean.apellido}"></h:inputText>
					</div>	
				</div>
				
				<div class="row">
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesEmail}" /></b>
							<h:inputText id="admin_email" class="form-control" value="#{adminBean.email}" ></h:inputText>
					</div>	
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesNick}" /></b>
							<h:inputText id="admin_nickAdmin" class="form-control" value="#{adminBean.nickAdmin}"></h:inputText>
					</div>																	
				</div>	
				<div class="row">
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesPassword}" /></b>
							<h:inputSecret id="admin_passwordAdmin" class="form-control" value="#{adminBean.passwordAdmin}"></h:inputSecret>
					</div>						
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesRepetirPassword}" /></b>
							<h:inputSecret id="admin_repasswordAdmin" class="form-control" value="#{adminBean.repasswordAdmin}"></h:inputSecret>
					</div>					
	
				</div>	
				<div class="row">
					<div class="form-group col-md-6 input-append date" >
							<b><h:outputText value="#{msg.valoresComunesFechaNacimiento}" /></b>
							<h:inputText id="admin_fechaNacimiento"  class="form-control" value="#{adminBean.fechaNacimiento}" />
							<span class="add-on"><i class="icon-th"></i></span>
					</div>						
					<div class="form-group col-md-6" >		
							<b><h:outputText value="#{msg.valoresComunesCelular}" /></b>
							<h:inputText id="admin_celular" class="form-control" value="#{adminBean.celular}"></h:inputText>
					</div>					
				</div>
				<div class="row">
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesSexo}" styleClass="select_input" /></b>
							<h:selectOneMenu id="admin_sexo" value="#{adminBean.sexo}" class="selectpicker">
								<f:selectItem itemValue="" itemLabel=""  />
							   	<f:selectItem data-icon="glyphicon-heart" itemValue="F" itemLabel="Femenino" />
							   	<f:selectItem data-icon="glyphicon-heart" itemValue="M" itemLabel="Masculino" />
							</h:selectOneMenu>
					</div>				
				</div>
				
			</div>
	
			<div class="modal-footer">
				<h:commandButton id="salvarOng" class="btn btn-sm btn-success" action="#{adminBean.salvarAdmin()}" value="#{msg.valoresComunesSalvar}"></h:commandButton>
				<h:button value="close" data-dismiss="modal" class="btn btn-sm btn-default" />
			</div>
		</h:form>
		
			<script type="text/javascript">
				$( document ).on('ready', function(){ 
					$('#adminForm\\:admin_fechaNacimiento').datepicker({
						format: 'dd-mm-yyyy',
						autoclose: true
					});


				    $('#adminForm').bootstrapValidator({
				    	live: 'enabled',
				        feedbackIcons: {
				            valid: 'glyphicon glyphicon-ok',
				            invalid: 'glyphicon glyphicon-remove',
				            validating: 'glyphicon glyphicon-refresh'
				        },
				        fields: {
				        	'adminForm:admin_email': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    },
				                    emailAddress: {
				                        message: 'Dirección de correo inválida.'
				                    },	
				                    remote: {
				                        message: 'Email ya existe',
				                        url: requestParams['host']+ ":" + requestParams['puerto']+ "/" + requestParams['contexto']+ "/" + requestParams['path'] + "/users/validarPorEmail",
				                        data: function(validator) {
				                            return {
				                                id: validator.getFieldElements('adminForm:admin_id').val()
				                            }
				                    	}				                    
				                	}	
				                }
				            },	                    
				            'adminForm:admin_nombre': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
				                }
				            },
				            'adminForm:admin_apellido': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
				                }
				            },
				            'adminForm:admin_passwordAdmin': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    },
				                    identical: {
				                        field: 'adminForm:admin_repasswordAdmin',
				                        message: 'Debe ingresar la misma contraseña.'
				                    }				                    
				                }
				            },	
				            'adminForm:admin_repasswordAdmin': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    },
				                    identical: {
				                        field: 'adminForm:admin_passwordAdmin',
				                        message: 'Debe ingresar la misma contraseña.'
				                    }
				                }
				            }			            				            			            				            
				        }
				    });				
				});
			</script>	
		</ui:define>	
</ui:composition>

</html>