<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">

    <ui:define name="content">
    	<h:form role="form"> 
            <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <h:outputText value="#{msg.tituloRescatistas}" /></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <!-- Crear nuevo -->
			<ui:include src="/WEB-INF/xhtml/botones/botonCrearNuevo.xhtml"/>
			
			<!-- Grilla de contenidos -->
			<div class="row">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<h:outputText value="#{msg.rescatistaListado}" />
					</div>

					<div class="panel-body">
						<div class="table-responsive">

							<!-- Table  -->
							<h:dataTable value="#{listadoRescatista.listadoRescatista}" var="rescatista"
								styleClass="table table-striped table-bordered table-hove"
								rowClasses="odd gradeX,even gradeC">

								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesId}" />
									</f:facet>    				
								      	#{rescatista.id}
								      	</h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesNombre}" />
									</f:facet>
									      #{rescatista.nombre}
									   </h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesApellido}" />
									</f:facet>
									      #{rescatista.apellido}
									   </h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesEmail}" />
									</f:facet>
									      #{rescatista.email}
									   </h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesNick}" />
									</f:facet>
									      #{rescatista.nick}
									   </h:column>


								<h:column span="3">
									<button type="button" data-toggle="modal" title="#{msg.editar}"
										data-target="#myModal" style="margin-right: 5px;"
										class="btn btn-success btn-circle" data-id="#{rescatista.id}">
										<i class="glyphicon glyphicon-pencil"></i>
									</button>

									<h:commandLink class="btn btn-danger btn-circle" title="#{msg.eliminar}"
										action="#{listadoRescatista.eliminarRescatista()}" value="">
										<i class="glyphicon glyphicon-trash"></i>
										<f:setPropertyActionListener
											target="#{listadoRescatista.idRescatista}" value="#{rescatista.id}"></f:setPropertyActionListener>
									</h:commandLink>

									</h:column>
								</h:dataTable>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		
		<ui:include src="/xhtml/rescatista/detalleRescatista.xhtml"/>
		
	<script type="text/javascript">

		$('#myModal').on('show.bs.modal', function(event) {
	
	//    	myApp.showPleaseWait();
	
			  	var button = $(event.relatedTarget) // Button that triggered the modal
			  	var id = button.data('id') // Extract info from data-* attributes
			  	var modal = $(this);
				var form = $(modal.find('form'))
				$(form).data('bootstrapValidator').resetForm();
				
				//solo si es modo edicion
				if (id !== undefined){	
			 	cargarUserModal( id , function( rescatista ){
				  //callback del llamado ajax
					
				  var form = $(modal.find('form')).attr("name");
	
				  var id = form + ":" + "rescatista_id";
				  var id_hidden = form + ":" + "rescatista_hidden_id";
				  var nombre = form + ":" + "rescatista_nombre";
				  var apellido = form + ":" + "rescatista_apellido";
				  var email = form + ":" + "rescatista_email";
				  var nick = form + ":" + "rescatista_nick";
				  var password = form + ":" + "rescatista_password";
				  var repassword = form + ":" + "rescatista_repassword";
				  var celular = form + ":" + "rescatista_celular";
				  var fecha = form + ":" + "rescatista_fechaNacimiento";
				  var descripcion = form + ":" + "rescatista_descripcion";
				  var sexo = form + ":" + "rescatista_sexo";
				  
				  modal.find('.modal-body input[name="'+ id +'"]').val( rescatista.id );
				  modal.find('.modal-body input[name="'+ id_hidden +'"]').val( rescatista.id );
	    		  modal.find('.modal-body input[name="'+ nombre +'"]').val( rescatista.nombre );
	    		  modal.find('.modal-body input[name="'+ apellido +'"]').val( rescatista.apellido );
	    		  modal.find('.modal-body input[name="'+ email +'"]').val( rescatista.email );
	    		  modal.find('.modal-body input[name="'+ nick +'"]').val( rescatista.nick );
	    		  modal.find('.modal-body input[name="'+ password +'"]').val( rescatista.password );
	    		  modal.find('.modal-body input[name="'+ repassword +'"]').val( rescatista.password );
	    		  modal.find('.modal-body input[name="'+ celular +'"]').val( rescatista.celular );
	    		  modal.find('.modal-body input[name="'+ descripcion +'"]').val( rescatista.descripcion );
	    		  modal.find('.modal-body input[name="'+ sexo +'"]').val( rescatista.sexo );

	//	    	myApp.hidePleaseWait();
			  });
			}
		});	
	
		$('#myModal').on('hide.bs.modal', function(event) {
			var modal = $(this);
			var form = $(modal.find('form'))
			$(form).data('bootstrapValidator').resetForm();
		});
	
	</script>			
		
	</ui:define>
</ui:composition>
		
</html>