<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:sic="http://sica.com/facelets">
      
<ui:composition template="/WEB-INF/xhtml/template/template_modal.xhtml">
	<ui:define name="modal_header">
		<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{msg.rescatistaCrear}"></h:outputText> </h4>
	</ui:define>
	
		<ui:define name="modal_body">
		
			<h:form id="rescatistaForm">
			<div class="modal-body">
			
				<div class="row">
					<div class="form-group col-md-6">
							<b><h:outputText value="#{msg.valoresComunesId}"/></b>
							<h:inputText id="rescatista_id" class="form-control" value="#{rescatistaBean.id}" readonly="true"></h:inputText>
							<h:inputHidden id="rescatista_hidden_id" value="#{rescatistaBean.id}" > </h:inputHidden>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesNombre}" /></b>
							<h:inputText id="rescatista_nombre" class="form-control" value="#{rescatistaBean.nombre}"></h:inputText>
					</div>
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesApellido}" /></b>
							<h:inputText id="rescatista_apellido" class="form-control" value="#{rescatistaBean.apellido}"></h:inputText>
					</div>				
				</div>
				<div class="row">
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesEmail}" /></b>
							<h:inputText id="rescatista_email" class="form-control" value="#{rescatistaBean.email}"></h:inputText>
					</div>
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesNick}" /></b>
							<h:inputText id="rescatista_nick" class="form-control" value="#{rescatistaBean.nick}"></h:inputText>
					</div>							
				</div>
				
				<div class="row">
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesPassword}" /></b>
							<h:inputSecret id="rescatista_password" class="form-control" value="#{rescatistaBean.password}"></h:inputSecret>
					</div>						
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesRepetirPassword}" /></b>
							<h:inputSecret id="rescatista_repassword" class="form-control" value="#{rescatistaBean.repassword}"></h:inputSecret>
					</div>					
				</div>
				
				<div class="row">
					<div class="form-group col-md-6 input-append date" >
							<b><h:outputText value="#{msg.valoresComunesFechaNacimiento}" /></b>
							<h:inputText id="rescatista_fechaNacimiento"  class="form-control" value="#{rescatistaBean.fechaNacimiento}" />
							<span class="add-on"><i class="icon-th"></i></span>
					</div>						
					<div class="form-group col-md-6" >		
							<b><h:outputText value="#{msg.valoresComunesCelular}" /></b>
							<h:inputText id="rescatista_celular" class="form-control" value="#{rescatistaBean.celular}"></h:inputText>
					</div>				
				</div>
				<div class="row">		
					<div class="form-group col-md-6" >
							<b><h:outputText value="#{msg.valoresComunesSexo}" styleClass="select_input" /></b>
							<h:selectOneMenu id="rescatista_sexo" value="#{rescatistaBean.sexo}" class="selectpicker" data-size="8">
								<f:selectItem itemValue="" itemLabel=""  />
							   	<f:selectItem data-icon="glyphicon-heart" itemValue="F" itemLabel="Femenino" />
							   	<f:selectItem data-icon="glyphicon-heart" itemValue="M" itemLabel="Masculino" />
							</h:selectOneMenu>
					</div>					
				</div>	
				<div class="form-group">
					<b><h:outputText value="#{msg.valoresComunesTareaRescatista}"></h:outputText></b>
					<h:inputTextarea value="#{rescatistaBean.descripcion}" class="form-control" rows="3" />
				</div>
			</div>
	
			<div class="modal-footer">
				<h:commandButton id="salvarOng" class="btn btn-sm btn-success" action="#{rescatistaBean.salvarRescatista()}" value="#{msg.valoresComunesSalvar}"></h:commandButton>
				<h:button value="close" data-dismiss="modal" class="btn btn-sm btn-default" />
			</div>
		
		</h:form>
		
			<script type="text/javascript">
				$( document ).on('ready', function(){ 
					$('#rescatistaForm\\:rescatista_fechaNacimiento').datepicker({
						format: 'dd-mm-yyyy',
						autoclose: true
					});


				    $('#rescatistaForm').bootstrapValidator({
				    	live: 'enabled',
				        feedbackIcons: {
				            valid: 'glyphicon glyphicon-ok',
				            invalid: 'glyphicon glyphicon-remove',
				            validating: 'glyphicon glyphicon-refresh'
				        },
				        fields: {
				        	'rescatistaForm:rescatista_email': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    },
				                    emailAddress: {
				                        message: 'Dirección de correo inválida.'
				                    },	
				                    remote: {
				                        message: 'Email ya existe',
				                        url: requestParams['host']+ ":" + requestParams['puerto']+ "/" + requestParams['contexto']+ "/" + requestParams['path'] + "/users/validarPorEmailResc",
				                        data: function(validator) {
				                            return {
				                                id: validator.getFieldElements('rescatistaForm:rescatista_id').val()
				                            }
				                    	}				                    
				                	}	
				                }
				            },	                    
				            'rescatistaForm:rescatista_nick': {
								validators:{
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
								}
					        },
				            'rescatistaForm:rescatista_password': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    },
				                    identical: {
				                        field: 'rescatistaForm:rescatista_repassword',
				                        message: 'Debe ingresar la misma contraseña.'
				                    }				                    
				                }
				            },	
				            'rescatistaForm:rescatista_repassword': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    },
				                    identical: {
				                        field: 'rescatistaForm:rescatista_password',
				                        message: 'Debe ingresar la misma contraseña.'
				                    }
				                }
				            }			            				            			            				            
				        }
				    });				
				});
			</script>			

		</ui:define>	
	
</ui:composition>

</html>