<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">


		<!--Crear nuevo Botonera -->
		<div class="row">
			<div class="panel-body">
				<button id="btnCrearSimple" type="button" class="btn btn-primary btn-sm" >
					<h:outputText value="#{msg.valoresComunesCrearNuevo}"></h:outputText>
				</button>
			</div>
		</div>
		
		
		

</html>