<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#{request.contextPath}/xhtml/inicio/splashMap.xhtml"> <h:outputText value="#{msg.templateTituloAdmin}"></h:outputText> </a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
			<i class="fa fa-user fa-fw"></i>
			<i class="fa fa-caret-down"></i>
		</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="#"><i class="fa fa-user fa-fw"></i> <h:outputText value="#{msg.adminPerfil}" /></a></li>
				<li class="divider"></li>
				<li>
					<h:form>
						<h:commandLink action="#{loginBean.cerrarSesion()}" styleClass="command-link">
							<i class="fa fa-sign-out fa-fw"></i>
							<h:outputText value="#{msg.adminSalir}"/>
							</h:commandLink>
					</h:form>
				</li>
			</ul> 
			<!-- /.dropdown-user -->
		</li>
		</ul>
		
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                        	<a href="#{request.contextPath}/xhtml/dashboard/dashboard.xhtml"><i class="fa fa-dashboard fa-fw"></i>
                            											 <h:outputText value="#{msg.adminDashboard}"/></a>
                        </li>  
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> 
                            					<h:outputText value="#{msg.gestionUsuarios}"/>  <span class="fa arrow"></span></a> 
                            	<ul class="nav nav-second-level">                                         
		                        <li>
		                            <a href="#{request.contextPath}/xhtml/admin/datosAdmin.xhtml"><i class="fa fa-dashboard fa-fw"></i> 
		                            											<h:outputText value="#{msg.gestionAdmin}"/> </a>
		                        </li>
		                        <li>
		                            <a href="#{request.contextPath}/xhtml/rescatista/datosRescatista.xhtml"><i class="fa fa-dashboard fa-fw"></i> 
		                            											<h:outputText value="#{msg.gestionRescatistas}"/> </a>
		                        </li> 
		                       </ul>                       
     					</li>
             	        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> 
                            					<h:outputText value="#{msg.gestionCatastrofes}"/>  <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#{request.contextPath}/xhtml/tipoCatastrofe/datosTipoCatastrofe.xhtml"> <i class="fa fa-dashboard fa-fw"></i> 
                                    	<h:outputText value="#{msg.gestionTipoCastastrofe}"/> </a>
                                </li>
                                <li>
                                    <a href="#{request.contextPath}/xhtml/catastrofe/datosCatastrofe.xhtml"> <i class="fa fa-dashboard fa-fw"></i> 
                                    	<h:outputText value="#{msg.gestionEventoCatastrofe}"/> </a>
                                </li>
		                        <li>
		                            <a href="#{request.contextPath}/xhtml/fuente/datosFuente.xhtml"><i class="fa fa-dashboard fa-fw"></i> 
		                            											<h:outputText value="#{msg.gestionFuentes}"/> </a>
		                        </li>                                 
                            </ul>
                        </li> 
                        <li>
                            <a href="#{request.contextPath}/xhtml/ong/datosOng.xhtml"><i class="fa fa-dashboard fa-fw"></i> 
                            											<h:outputText value="#{msg.gestionOng}"/> </a>
                        </li>                                                                                                
                        <li>
                            <a href="#{request.contextPath}/xhtml/planes/datosPlanes.xhtml"><i class="fa fa-dashboard fa-fw"></i> 
                            											<h:outputText value="#{msg.gestionPlanes}"/> </a>
                        </li>   
                        <li>
                            <a href="#{request.contextPath}/xhtml/reportes/datosReportes.xhtml"><i class="fa fa-dashboard fa-fw"></i> 
                            											<h:outputText value="#{msg.gestionReportes}"/> </a>
                        </li>                                                                                                                
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->		
	<!-- /navigator -->
	</nav>
		
</html>