<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>	

	<title> <h:outputText value="#{msg.templateTitle}" /> </title>
	<!-- Bootstrap Core CSS -->
	<h:outputStylesheet name="css/bootstrap.css" />
	<h:outputStylesheet name="css/plugins/metisMenu/metisMenu.min.css" />
	<h:outputStylesheet name="css/sb-admin-2.css" />
	<h:outputStylesheet name="font-awesome-4.1.0/css/font-awesome.min.css" />
	<h:outputStylesheet name="css/sica.css" />
	
</h:head>
<h:body styleClass="back_login" >
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><h:outputText value="#{msg.loginIniciarSesion}" /></h3>
					</div>
					<div class="panel-body">
						<h:form role="form" id="loginForm">
							<fieldset>
								<div class="form-group" >
									<h:inputText id="email" class="form-control" required="true" value="#{loginBean.email}"
											a:placeholder="#{msg.valoresComunesEmail}" requiredMessage="#{msg.campoObligatorio}"></h:inputText>										
											<h:message for="email" errorClass="input-error" />
								</div>
								
								<div class="form-group">
									<h:inputSecret id="password" class="form-control" required="true" value="#{loginBean.password}"
											 a:placeholder="#{msg.valoresComunesPassword}" requiredMessage="#{msg.campoObligatorio}" ></h:inputSecret>											 
									<h:message for="password" errorClass="input-error" />
								</div>
								
								<div class="checkbox">
									<label>
										<h:selectBooleanCheckbox value="#{loginBean.remember}" />
										<h:outputText value="#{msg.loginRecordarme}" />
									</label>
								</div>
								<h:commandButton class="btn btn-lg btn-success btn-block"
									action="#{loginBean.iniciarSesion()}" value="#{msg.loginIniciar}">
								</h:commandButton>
							</fieldset>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<h:outputScript name="js/jquery-1.11.0.js"/>
	<h:outputScript name="js/bootstrap.min.js"/>
	<h:outputScript name="js/plugins/metisMenu/metisMenu.min.js"/>
	<h:outputScript name="js/sica.js"/>
	
</h:body>
</html>