<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
		<title> <h:outputText value="#{msg.templateTitle}" /> </title>
		
		<!-- Bootstrap Core CSS -->
	
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/plugins/timeline.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/plugins/morris.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/sb-admin-2.css" rel="stylesheet" type="text/css"></link>	
		<link href="${facesContext.externalContext.requestContextPath}/resources/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/sica.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css"></link>		
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/datepicker.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/jquery.fileupload.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/css/multi-select.css" rel="stylesheet" type="text/css"></link>
		<link href="${facesContext.externalContext.requestContextPath}/resources/js/galeria/themes/classic/galleria.classic.css" rel="stylesheet" type="text/css" />			
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css" />
		
		
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery-1.11.0.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/bootstrap.js"></script>
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/plugins/metisMenu/metisMenu.min.js"></script>
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/plugins/morris/raphael.min.js"></script>
<!-- 	<script src="${facesContext.externalContext.requestContextPath}/resources/js/plugins/morris/morris.min.js"></script> -->
<!-- 	<script src="${facesContext.externalContext.requestContextPath}/resources/js/plugins/morris/morris-data.js"></script> -->
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/sb-admin-2.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/ajaxCall.js"></script>
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/ajaxRequestParams.js"></script>
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/sica.js"></script>	
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/mapsParams.js"></script>	
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/bootstrapValidator.min.js"></script>
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/bootstrap-datepicker.js"></script>
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/bootstrap-select.min.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.iframe-transport.js"></script>	
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/vendor/jquery.ui.widget.js"></script>		    
	    <script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.fileupload.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.fileupload-process.js"></script>
<!-- 	<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.fileupload-image.js"></script> -->
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/load-image.all.min.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.fileupload-audio.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.fileupload-video.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.fileupload-validate.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.fileupload-ui.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/bootstrap-filestyle.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.multi-select.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/galeria/galleria-1.4.2.min.js"></script>
		<script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery.form.js"></script>
	    
	    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>    
    	<script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script>


	</h:head>
	<h:body>
		<div id="wrapper">
		    <div id="header_sidebar">
		    	<ui:include src="/WEB-INF/xhtml/template/header_sidebar.xhtml"/>
		    </div>
		    <div id="content">
			   	<ui:insert name="content" ></ui:insert>
		    </div>	    	
	    </div>	   
	    
	    <ui:include src="/WEB-INF/xhtml/template/panel_procesando.xhtml"/>   
	  	    	
	</h:body>
</html>