<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">
    <ui:define name="content">
    	
    	<h:form role="form">  
            <div id="page-wrapper">
            
	            <div class="row">
	                <div class="col-lg-12">
	                    <h1 class="page-header"><h:outputText value="#{msg.tituloFuentesRSS}"/></h1>
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            
	            <!-- Crear nuevo -->
				<ui:include src="/WEB-INF/xhtml/botones/botonCrearNuevo.xhtml"/>
            
	            <!-- Grilla de contenidos -->
	            <div class="row">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading"><h:outputText value="#{msg.fuenteListado}" /></div>
	
						<div class="panel-body">
							<div class="table-responsive">
								
									<!-- Table  -->
									<h:dataTable value="#{listadoFuentes.listadoFuentes}" var="fuente" 
										styleClass="table table-striped table-bordered table-hove"
										rowClasses="odd gradeX,even gradeC">
										
										<h:column  >
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesId}" />
											</f:facet>    				
								      	#{fuente.id}
								      	</h:column>
								      	
									   <h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.valoresComunesNombre}" />
											</f:facet>
									      #{fuente.nombre}
									   </h:column>
									   
										<h:column>
											<f:facet name="header">
												<h:outputText value="#{msg.fuenteRssUrl}" />
											</f:facet>
								      		#{fuente.url}
								   		</h:column>
								   		
										<h:column span="3">
												<button type="button" data-toggle="modal" title="#{msg.editar}"
													data-target="#myModal" style="margin-right: 5px;" class="btn btn-success btn-circle" 
													data-id="#{fuente.id}" > 
													<i class="glyphicon glyphicon-pencil"></i>
												</button>
													
												<h:commandLink class="btn btn-danger btn-circle" action="#{listadoFuentes.eliminarFuenteRss()}" 
													title="#{msg.eliminar}" value="">
													<i class="glyphicon glyphicon-trash"></i>
													<f:setPropertyActionListener  target="#{listadoFuentes.idFuente}" value="#{fuente.id}"></f:setPropertyActionListener>
												</h:commandLink>
	
										</h:column>
									</h:dataTable>
							</div>
						</div>
					</div>            
	            </div>
            </div>
    	</h:form>  
		<ui:include src="/xhtml/fuente/detalleFuente.xhtml"/>
		
    	<script type="text/javascript">
  	
	    	$('#myModal').on('show.bs.modal', function(event) {

// 	    		  myApp.showPleaseWait();

	    		  var button = $(event.relatedTarget) // Button that triggered the modal
	    		  var idfuente = button.data('id') // Extract info from data-* attributes
	    		  var modal = $(this);

	    			//solo si es modo edicion
	    			if (idfuente !== undefined){			
		    						
		    		  cargarFuenteModal(idfuente , function( fuente ){
						  //callback del llamado ajax
							
						  var form = $(modal.find('form')).attr("name");
	
						  var nombre = form + ":" + "fuente_nombre";
						  var ruta = form + ":" + "fuente_ruta";
						  var id = form + ":" + "fuente_id";
						  var idHidden = form + ":" + "fuente_hidden_id";
						  
						  modal.find('.modal-body input[name="'+ id +'"]').val( fuente.id );
						  modal.find('.modal-body input[name="'+ idHidden +'"]').val( fuente.id );
			    		  modal.find('.modal-body input[name="'+ ruta +'"]').val( fuente.url );
			    		  modal.find('.modal-body input[name="'+ nombre +'"]').val( fuente.nombre );
			    		  modal.find('.modal-body input[name="'+ nombre +'"]').val( fuente.nombre );
			    		  
	// 		    		  myApp.hidePleaseWait();
					  });
	    			}
	    	});

	    	$('#myModal').on('hide.bs.modal', function(event) {
	    		var modal = $(this);
	    		var form = $(modal.find('form'))
	    		$(form).data('bootstrapValidator').resetForm();
		    });
	    	

	    	
    	</script>		 
		
	</ui:define>
</ui:composition>
</html>