<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:sic="http://sica.com/facelets">
      
<ui:composition template="/WEB-INF/xhtml/template/template_modal.xhtml">

	<ui:define name="modal_header">
		<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{msg.fuenteCrear}"></h:outputText> </h4>
	</ui:define>
		<ui:define name="modal_body">
			<h:form id="fuenteForm"  class="form-horizontal">
				<div class="modal-body">
					<b><h:outputText value="#{msg.valoresComunesId}"/></b>
					<div class="form-group" >
						<div class="col-md-12">
							<h:inputText id="fuente_id" class="form-control" value="#{fuenteRssBean.id}" readonly="true"></h:inputText>
							<h:inputHidden id="fuente_hidden_id" value="#{fuenteRssBean.id}" > </h:inputHidden>
						</div>
					</div>
					
					<b><h:outputText value="#{msg.valoresComunesNombre}" /></b>
					<div class="form-group">
						<div class="col-md-12">
							<h:inputText id="fuente_nombre" class="form-control" value="#{fuenteRssBean.nombre}"></h:inputText>
						</div>
					</div>
					
					
					<b><h:outputText value="#{msg.valoresComunesRuta}" /></b>
					<div class="form-group" >
						<div class="col-md-12">
							<h:inputText id="fuente_ruta" class="form-control" value="#{fuenteRssBean.ruta}"></h:inputText>
						</div>
					</div>
			
					<div class="modal-footer">
						<h:commandButton class="btn btn-sm btn-success" action="#{fuenteRssBean.salvarFuenteRss()}" value="#{msg.valoresComunesSalvar}"></h:commandButton>
						<h:button value="close" data-dismiss="modal" class="btn btn-sm btn-default" />
					</div>
				</div>	
			</h:form>
			
			<script type="text/javascript">
				$( document ).on('ready', function(){ 

				    $('#fuenteForm').bootstrapValidator({
				    	live: 'enabled',
				        feedbackIcons: {
				            valid: 'glyphicon glyphicon-ok',
				            invalid: 'glyphicon glyphicon-remove',
				            validating: 'glyphicon glyphicon-refresh'
				        },
				        fields: {
				        	'fuenteForm:fuente_nombre': {
				            	    validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
				                }
				            },
				            'fuenteForm:fuente_ruta': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio.'
				                    },	                    
				                    remote: {
				                        message: 'RSS ya existente.',
				                        url: requestParams['host']+ ":" + requestParams['puerto']+ "/" + requestParams['contexto']+ "/" + requestParams['path'] + "/fuentes/validarPorRuta",
				                        data: function(validator) {
				                            return {
				                                id: validator.getFieldElements('fuenteForm:fuente_id').val()
				                            }
				                    	}				                    
				                	}
				            	}
				        	}
				        }
				    });				
				});
			</script>				
			
					
		</ui:define>
</ui:composition>    
</html>