<section class="catastrofe">
	<div class="container-fluid">
  <form class="form-horizontal">
  <div class="page-header inline-block">
    <h1>{{catastrofe.nombre}}</h1>
    <span class="label" data-ng-class="{'label-success': catastrofe.estado === 'ACTIVA', 'label-primary': catastrofe.estado === 'FINALIZADA', 'label-default': catastrofe.estado === 'CANCELADA'}" title="Estado">{{catastrofe.estado}}</span>
    <span class="label" data-ng-class="{'label-danger':catastrofe.magnitud === 'ALTA', 'label-warning':catastrofe.magnitud === 'MEDIA', 'label-info':catastrofe.magnitud === 'BAJA'}" title="Magnitud">{{catastrofe.magnitud}}</span>
    <div class="pull-right fa-2x" share-square="true" share-links="Facebook, Twitter" share-title="{{catastrofe.nombre}}"></div>
  </div>
  <div class="row">
    <!-- image column -->
    <div class="col-lg-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="text-center">
          <carousel class="autoSize" interval="carousel.interval" active="slide.active">
            <slide ng-repeat="slide in carousel.slides" >
              <img ng-src="{{slide.image}}" class="imgCatastrofe">
            </slide>
          </carousel>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-lg-6 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h3>Información</h3>
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">Estado</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="catastrofe.estado" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Magnitud</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="catastrofe.magnitud" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Comienzo</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="catastrofe.fechaComienzo" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Fin</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="catastrofe.fechaFin" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Descripción</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="catastrofe.descripcion" disabled type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="text-center">
          <!-- <div twitter-timeline="544008483990159360" data-screen-name="{{catastrofe.twitterName}}" auto-resize="false" data-tweet-limit="8">Cargando tweets...</div> -->
        <a class="twitter-timeline" data-dnt="true" data-screen-name="{{catastrofe.twitterName}}"  data-widget-id="544008483990159360">Tweets por @{{catastrofe.twitterName}}.</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
      <div class="form-group">
        <label class="control-label"></label>
        <input class="btn btn-default form-control" data-ng-click="cancelar()" value="Volver" type="button">
      </div>
    </div>
  </div>
  </form>
</div>
<hr>
</section>