<section id="actionSearch" class="actionSearch" >
	<div class="container">
		<div class="col-md-12 text-center">
			<h2><strong>
				Resultados de persona desparecida
			</strong></h2>
			<hr>
			<br>
		</div>
		<div class="col-md-12">
			<div class="row">
			<!-- <desaparecido data-ng-repeat="desResult in filtrados"></desaparecido> -->

				<div class="col-md-3" data-ng-repeat="desResult in filtrados">
					<div class="col-md-6 des-container text-center">
							<div class="des-body">
									<div class="row">
										<div class="col-md-12">
											<carousel class="item-carousel" interval="0">
									            <slide >
									              <img ng-src="{{desResult.idImagenes[0][0]}}">
									            </slide>
								          	</carousel>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<hr>
											<label title="Nombre y Apellido"><strong>{{desResult.nombre}} {{desResult.apellido}}</strong></label>
											<hr>
										</div>
										<div class="col-md-12">
											<strong>{{desResult.edad}} años</strong> | <strong>{{desResult.etnia}}</strong> | <strong>Piel {{desResult.colorPiel}}</strong>
										</div>
										<div class="col-md-12">
											<strong> Ojos {{desResult.colorOjos}}</strong> | <strong>{{desResult.estatura}} mts </strong>| <strong>{{desResult.fecha}}</strong>
										</div>
										<div class="col-md-12">
											<strong>Descripción:</strong> {{desResult.detalles}}
										</div>
										<div class="col-md-12">
											<hr>
											Reportada por: <strong>{{desResult.emailUsuario}}</strong>
										</div>
									</div>
							</div>
					</div>
				</div>
				<!-- <div class="col-md-6" data-ng-repeat="desResult in filtrados">
					<div class="col-md-6 des-container text-center">
						<div class="des-header">
							<label title="Nombre y Apellido"><strong>Elena Gómez</strong></label>
						</div>
						<div class="des-body">
							<div class="col-md-7 item">
								<div class="col-md-12">
									<strong>76 años</strong> | <strong>Caucásica</strong> | <strong>Piel Blanca</strong>
								</div>
								<div class="col-md-12">
									<strong> Ojos Marrón</strong> | <strong>1,67 mts </strong>| <strong>20/11/2014</strong> 
								</div>
								<div class="col-md-12">
									Reportada por: <strong>El bana nero</strong>
								</div>
								<div class="col-md-12">
									<strong>Descripción:</strong> Extraviada por la zona de la Aguada, vestía pantalón azúl, y blusa blanca. Dícese iba a votar por La Positiva.
								</div>
							</div>
							<div class="col-md-5">
								<div ng-switch='slideshow' ng-animate="'animate'">
									 <div class="slider-content" ng-switch-when="1">
										<img width="128px" height="160px" class="img-thumbnail" data-ng-src="img/desaparecido.jpg">
									</div>	
									<div class="slider-content" ng-switch-when="2">
										<img width="128px" height="160px" class="img-thumbnail" data-ng-src="img/desaparecido2.jpg">
									</div>	
									<div class="slider-content" ng-switch-when="3">
										<img width="128px" height="160px" class="img-thumbnail" data-ng-src="img/desaparecido3.jpg">
									 </div>	
									<div class="slider-content" ng-switch-when="4">
										<img class="img-thumbnail" data-ng-src="img/desaparecido4.jpg">
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</div>
			<div class="row">
				<br>
				<br>
				<br>
				<div class="col-md-4 col-md-offset-4">
					<div class="row">
						<button type="button" data-ng-click="resetBuscar()" class="btn btn-success btn-par form-control">Modificar filtros</button>
					</div>
					<br>
					<div class="row">
						<button type="button" data-ng-click="cancelar()" class="btn btn-default btn-par form-control">Volver</button>				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>