<section id="EditPerfil" class="editPerfil">
	<div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Editar Perfil</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="text-center">
        <img data-ng-src="{{logo}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Cambiar de foto...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12">
      <h3>Información Personal</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">Nick:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="profile.nick" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.email" disabled type="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Fecha de Nacimiento:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.fechaNacimiento" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.nombre" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Apellido:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.apellido" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Celular:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.celular" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="profile.password" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Guardar" data-ng-click="btnSaveAction()" type="button">
            <span></span>
            <input class="btn btn-default" data-ng-click="cancelar()" value="Cancelar" type="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
</section>