<section id="action" class="actionsHome" data-ng-show="!isResultado()" data-ng-controller="actionController">
	<!-- Pedido de Ayuda -->
	<div class="container" data-ng-show="isAyuda()">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2><strong>
					{{ actions.ayudaTitle }}
				</strong></h2>
				<hr>
				<br>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<form name="ayudaForm" class="form" novalidate>
				<div class="row">
					<div class="col-md-3 col-md-offset-3" >
						<div class="row">
							<div class="form-group">
								<label>Nombre</label>	
								<input name="nombre" type="text" placeholder="Ingrese su nombre" class="form-control gray" ng-pattern="/^[a-zA-Z ]{1,20}$/" data-ng-model="persona.nombre" required/>
								<div ng-class="{'sr-only' : ayudaForm.nombre.$pristine}" ng-show=" ayudaForm.nombre.$invalid" class="errorActions"><p>Campo obligatorio, máximo 20 caracteres.</p></div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label>Apellido</label>	
								<input name="apellido" ng-pattern="/^[a-zA-Z ]{1,30}$/" data-ng-model="persona.apellido" placeholder="Ingrese su apellido" type="text" class="form-control gray" required/>
								<div ng-class="{'sr-only' : ayudaForm.apellido.$pristine}" ng-show=" ayudaForm.apellido.$invalid" class="errorActions"><p>Campo obligatorio, máximo 30 caracteres.</p></div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label>Latitud</label>	
								<input type="number" data-ng-model="markers.marker.lat" disabled ng-class="{ 'green' : ready, 'red' : !ready }" class="form-control text-center"/>
							</div>
							<div class="form-group">
								<label>Longitud</label>	
								<input type="number" data-ng-model="markers.marker.lng" disabled  ng-class="{ 'green' : ready, 'red' : !ready }" class="form-control text-center"/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<leaflet id="ayudaMap" class="ayudaMap" defaults="defaults" center="center" markers="markers"></leaflet>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4" >
						<br>
						<div class="form-group">
							<br>
							<button type="button" data-ng-click="ayudaActionBtn()" data-ng-disabled="!ready || ayudaForm.nombre.$invalid || ayudaForm.apellido.$invalid" class="btn btn-primary btn-par form-control">Solicitar</button>				
						</div>
						<div class="form-group">
							<button type="button" data-ng-click="cancelar()" class="btn btn-default btn-par form-control">Volver</button>				
						</div>
					</div>
				</div>
			</form>
		</div>	
	</div>

	<!-- Reportar persona desaparecida -->
	<div class="container" data-ng-show="isReporte()">
		<div class="col-md-12 text-center">
			<h2><strong>
				{{ actions.reporteTitle }}
			</strong></h2>
			<hr>
			<br>
		</div>
		<form name="reporteForm" class="form" novalidate>
			<div class="col-md-3 col-md-offset-3" >
				<div class="form-group">
					<label>Nombre</label>	
					<input name="nombre" type="text" placeholder="Ingrese nombre de la persona" class="form-control gray-important" ng-pattern="/^[a-zA-Z ]{1,20}$/" data-ng-model="desaparecido.nombre" required/>
					<div ng-class="{'sr-only' : reporteForm.nombre.$pristine}" ng-show=" reporteForm.nombre.$invalid" class="errorActions"><p>Campo obligatorio, máximo 20 cracteres.</p></div>
				</div>
				<div class="form-group">
					<label>Apellido</label>	
					<input name="apellido" ng-pattern="/^[a-zA-Z ]{1,30}$/" data-ng-model="desaparecido.apellido" placeholder="Ingrese apellido" type="text" class="form-control gray-important" required/>
					<div ng-class="{'sr-only' : reporteForm.apellido.$pristine}" ng-show=" reporteForm.apellido.$invalid" class="errorActions"><p>Campo obligatorio, máximo 30 caracteres.</p></div>
				</div>
				<div class="form-group">
					<label>Edad</label>	
					<input name="edad" ng-pattern="/^([1-9]?\d|100)$/" data-ng-model="desaparecido.edad" placeholder="Ingrese edad estimada" type="number" class="form-control gray-important" required/>
					<div ng-class="{'sr-only' : reporteForm.edad.$pristine}" ng-show=" reporteForm.edad.$invalid" class="errorActions"><p>Campo obligatorio, no puede ser negativa.</p></div>
				</div>
				<div class="form-group">
					<label>Fecha de desaparecido</label>	
					<input type="date" name="input" class="form-control gray-important" ng-model="desaparecido.fecha" placeholder="2014-06-27" min="2014-01-01" max="2014-12-31" required />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Estatura</label>	
					<div class="input-group">
					  <input name="estatura" type="text" placeholder="Ingrese estatura de la persona" class="form-control gray-important" ng-pattern="/\d+(\.\d{1,3})?/" data-ng-model="desaparecido.estatura" required/>
					  <span class="input-group-addon gray bold">mts</span>
					</div>
					<div ng-class="{'sr-only' : reporteForm.estatura.$pristine}" ng-show=" reporteForm.estatura.$invalid" class="errorActions"><p>Campo obligatorio.</p></div>
				</div>
				<div class="form-group">
					<label>Etnia</label>	
					<select class="form-control gray-important" ng-model="desaparecido.etnia" ng-options="etnia.label for etnia in datas.etnias" required>
				      <option value="">-- Seleccionar etnia --</option>
				    </select>
				</div>
				<div class="form-group">
					<label>Color de Piel</label>	
					<select class="form-control gray-important" ng-model="desaparecido.piel" ng-options="color.label for color in datas.piel" required>
				      <option value="">-- Seleccionar color de piel --</option>
				    </select>
				</div>
				<div class="form-group">
					<label>Color de Ojos</label>	
					<select class="form-control gray-important" ng-model="desaparecido.ojos" ng-options="color.label for color in datas.ojos" required>
				      <option value="">-- Seleccionar color de ojos --</option>
				    </select>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<label>Detalles( Ej: Descripción de vestimenta, rasgos físicos, tatuajes...)</label>	
					<textarea name="detalles" class="form-control gray-dark" data-ng-model="desaparecido.detalles"/>
				</div>
				<br>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<div class="row">
					<button type="button" data-ng-click="reporteActionBtn()" data-ng-disabled="reporteForm.$invalid" class="btn btn-primary btn-par form-control">Reportar</button>				
				</div>
				<br>
				<div class="row">
					<button type="button" data-ng-click="cancelar()" class="btn btn-default btn-par form-control">Volver</button>				
				</div>
			</div>
		</form>
	</div>

	<!-- Buscar persona desaparecida reportada en el sistema -->
	<div class="container" data-ng-show="isBuscar()">
		<div class="animate">
			<div class="col-md-12 text-center">
				<h2><strong>
					{{ actions.buscarTitle }}
				</strong></h2>
				<hr>
			</div>
			<form name="buscarForm" class="form" novalidate>
				<div class="col-md-6 col-md-offset-3">
					<div class="col-md-12">
						<label>Rango de fecha</label>
					</div>
					<div class="col-md-6">
						<div class="form-group">
	      					<input type="date" name="input" class="form-control gray-important" ng-model="buscar.inicio" placeholder="2014-06-27" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						<input type="date" name="input" class="form-control gray-important" ng-model="buscar.fin" placeholder="2014-06-27" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Nombre</label>	
							<input name="nombre" type="text" placeholder="Nombre" class="form-control gray" data-ng-model="buscar.nombre"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Apellido</label>	
							<input name="apellido" type="text" placeholder="Apellido" class="form-control gray" data-ng-model="buscar.apellido"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Color de ojos</label>	
							<div ng-dropdown-multiselect="" options="datas.ojos" selected-model="buscar.ojos" extra-settings="multiSettingOjosConf" translation-texts="ojosTranslate"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Color de piel</label>	
							<div ng-dropdown-multiselect="" options="datas.piel" selected-model="buscar.piel" extra-settings="multiSettingPielConf" translation-texts="pielTranslate"></div>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<label>Etnia</label>	
							<div ng-dropdown-multiselect="" options="datas.etnias" selected-model="buscar.etnias" extra-settings="multiSettingEtniasConf" translation-texts="etniasTranslate"></div>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<label>Rango de edad (años)</label>
							<slider ng-model="buscar.edad" min="{{sliderEdad.min}}" step="{{sliderEdad.step}}" max="{{sliderEdad.max}}" value="{{sliderEdad.value}}"></slider>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<label>Rango de altura (mts)</label>
							<slider ng-model="buscar.altura" min="{{sliderAltura.min}}" step="{{sliderAltura.step}}" max="{{sliderAltura.max}}" value="{{sliderAltura.value}}"></slider>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-4">
					<br>
					<br>
					<div class="row">
						<button type="submit" data-ng-click="buscarActionBtn()" data-ng-disabled="buscarForm.$invalid" class="btn btn-primary btn-par form-control">Buscar</button>				
					</div>
					<br>
					<div class="row">
						<button type="button" data-ng-click="cancelar()" class="btn btn-default btn-par form-control">Volver</button>				
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="container" data-ng-show="isAviso()">
		<div class="col-md-12 text-center">
			<h2><strong>
				{{ actions.avisoTitle }}
			</strong></h2>
			<hr>
		</div>
		<form name="avisoForm" class="form" novalidate>
			<div class="col-md-4 col-md-offset-4">
				<div class="form-group">
					<label class="sr-only">Nombre</label>	
					<input type="text" placeholder="Nombre de catástrofe" class="form-control gray-important" data-ng-model="aviso.palabra" required/>
				</div>
				<div class="form-group">
					<label>Descripción</label>
					<textarea class="form-control gray-dark" data-ng-model="aviso.detalles" required/>
				</div>
				<div class="form-group sr-only">
					<input type="number" data-ng-model="markers.marker.lat" disabled  ng-class="{ 'green' : ready, 'red' : !ready }" class="form-control text-center" required/>
					<input type="number" data-ng-model="markers.marker.lng" disabled  ng-class="{ 'green' : ready, 'red' : !ready }" class="form-control text-center" required/>
				</div>
				<div class="row">
					<leaflet id="ayudaMap" class="ayudaMap" defaults="defaults" center="center" markers="markers"></leaflet>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<br>
				<br>
				<div class="row">
					<button type="submit" data-ng-disabled="avisoForm.$invalid" class="btn btn-primary btn-par form-control">Alertar</button>
				</div>
				<br>
				<div class="row">
					<button type="button" data-ng-click="cancelar()" class="btn btn-default btn-par form-control">Volver</button>				
				</div>
			</div>
		</form>
	</div>
</section>