<section id="misRep" class="misRep" data-ng-controller="myRepController">
  <div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Desaparecidos reportados</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
      <table class="table table-striped table-condensed table-hover">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Estatura</th>
                  <th>Edad</th>
                  <th>Etnia</th>
                  <th>Ojos</th>
                  <th>Piel</th>
                  <th>Fecha</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in data.reps">
                  <td>{{row.nombre}}</td>
                  <td>{{row.apellido}}</td>
                  <td>{{row.estatura}}</td>
                  <td>{{row.edad}}</td>
                  <td>{{row.etnia}}</td>
                  <td>{{row.ojos}}</td>
                  <td>{{row.piel}}</td>
                  <td>{{row.fecha}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <button class="btn btn-default form-control" data-ng-click="cancelar()" type="button">Volver</button>
      </div>
    </div>
  </div>
</div>
<hr>
</section>