<section id="misPedidos" class="misPedidos" data-ng-controller="myHelpsController">
  <div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Mis pedidos de ayuda</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
      <table class="table table-striped table-condensed table-hover">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Gravedad</th>
                  <th>Estado</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in data.helps">
                  <td>{{row.nombre}}</td>
                  <td>{{row.apellido}}</td>
                  <td>{{row.email}}</td>
                  <td>{{row.gravedad}}</td>
                  <td>{{row.estado}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <button class="btn btn-default form-control" data-ng-click="cancelar()" type="button">Volver</button>
      </div>
    </div>
  </div>
</div>
<hr>
</section>