<section id="EditPerfil" class="editPerfil" data-ng-show="isEditProfile()" data-ng-controller="editProfileController">
	<div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Editar Perfil</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="text-center">
        <img data-ng-src="{{logo}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Cambiar de foto...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12">
      <h3>Información Personal</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">Nick:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="profile.nick" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.email" disabled type="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Fecha de Nacimiento:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.fechaNacimiento" type="date">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.nombre" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Apellido:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.apellido" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Celular:</label>
          <div class="col-lg-8">
            <input class="form-control" data-ng-model="profile.celular" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" data-ng-model="profile.password" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Guardar" data-ng-click="btnSaveAction()" type="button">
            <span></span>
            <input class="btn btn-default" data-ng-click="cancelar()" value="Cancelar" type="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
</section>

<section id="misPedidos" class="misPedidos" data-ng-show="isMyHelps()" data-ng-controller="myHelpsController">
  <div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Mis pedidos de ayuda</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
      <table class="table table-striped table-condensed table-hover">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Gravedad</th>
                  <th>Estado</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in data.helps">
                  <td>{{row.nombre}}</td>
                  <td>{{row.apellido}}</td>
                  <td>{{row.email}}</td>
                  <td>{{row.gravedad}}</td>
                  <td>{{row.estado}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <button class="btn btn-default form-control" data-ng-click="cancelar()" type="button">Volver</button>
      </div>
    </div>
  </div>
</div>
<hr>
</section>

<section id="misRep" class="misRep" data-ng-show="isMyRep()" data-ng-controller="myRepController">
  <div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Desaparecidos reportados</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
      <table class="table table-striped table-condensed table-hover">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Estatura</th>
                  <th>Edad</th>
                  <th>Etnia</th>
                  <th>Ojos</th>
                  <th>Piel</th>
                  <th>Fecha</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in data.reps">
                  <td>{{row.nombre}}</td>
                  <td>{{row.apellido}}</td>
                  <td>{{row.estatura}}</td>
                  <td>{{row.edad}}</td>
                  <td>{{row.etnia}}</td>
                  <td>{{row.ojos}}</td>
                  <td>{{row.piel}}</td>
                  <td>{{row.fecha}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <button class="btn btn-default form-control" data-ng-click="cancelar()" type="button">Volver</button>
      </div>
    </div>
  </div>
</div>
<hr>
</section>