<section id="mainMenuUser" class="mainMenuUser" data-ng-controller="menuUserController">
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel profileMenu">	
				<div class="panel-heading text-center">
    				<h3><strong>Perfil</strong></h3>
    				<hr>
				</div>
				<div class="panel-body">
					<br>
					<br>
					<div class="form-group">
						<button type="button" class="btn btn-primary form-control" data-ng-click="btnEditProfile()">Editar perfil</button>
					</div>
					<div class="form-group">
						<button class="btn btn-primary form-control" data-ng-click="btnMyHelps()">Solicitudes de ayuda</button>
					</div>
					<div class="form-group">
						<button class="btn btn-primary form-control" data-ng-click="btnMyRep()">Desaparecidos reportados</button>
					</div>
					<br>
					<br>
					<hr>
					<div class="form-group">
						<button type="button" data-ng-click="cancelar()" class="btn btn-default btn-par form-control">Volver</button>				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>