<!DOCTYPE html>
<html ng-app="sicaApp" lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SICA RESCATE</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="components/awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- script references -->

    <!-- jQuery js -->
    <script src="js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Angular libs js -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>

     <script src="lib/angular/angular-animate.min.js"></script>

    <!-- main scripts -->
    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/app.js"></script> 
    <script type="text/javascript" src="js/index.js"></script>

    <script src="js/controllers.js"></script> 
    <script src="js/services.js"></script>
    <script src="js/appRoutes.js"></script>

    <!-- cookies -->
    <!-- <script src="js/angular.js"></script> -->
    <script src="js/cookies.js"></script>

    <script rel="stylesheet" href="css/normalize.css"  media="screen" ></script>
    
    <script rel="stylesheet" href="css/foundation.css"  media="screen" ></script>
<!-- NOTIFICACIONES -->
    <script src="js/angular-growl.js"></script>
    <!-- NOTIFICACION -->
     <!-- <script type="text/javascript" src="PushNotification.js"></script> -->
     <script type="text/javascript" charset="utf-8" src="PushNotification.js"></script>
    <!-- <script type="text/javascript" src="js/notify.js"></script> -->

    <!-- MD5 -->
    <script  src="js/md5.js"></script>
    <!-- magic -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
    <!-- MPAS -->
    <link rel="stylesheet" href="css/leaflet-0.7.1.css" />
    <script src="js/angular-leaflet-directive-0.7.2.min.js"></script> 
    <script src="js/leaflet-0.7.1.min.js"></script> 

    <!-- NG-TOUCH -->
    <!-- // <script src="lib/angular/angular-touch.js"></script> -->
    <script src="lib/angular/angular-touch.min.js"></script>
    <script src="lib/angular/angular-touch.min.js.map"></script>
    <!-- COOKIES -->
    <script src="lib/angular/angular-cookies.min.js"></script>


    <!-- WEB SOCKET del plugin-->
    <script type="text/javascript" src="websocket.js"></script>



  </head>
      
  <body>
  <!-- main -->

  <div  id="main" ng-controller="sesionController">

      <div  id="wrapper" class="wrapper toggled">
            
          <a ng-show="mostrarFlecha" id="menu-toggle" href="#" class="btn  btn-lg toggle pull-right"><i class="fa fa-align-justify"></i></a>

        <div id="sidebar-wrapper">
          <div class="box">
          <a ng-show="mostrarcruz" id="menu-toggle-close" href="#" class="btn  btn-lg toggle pull-right"><i class="fa fa-times"></i></a>
        
          <h3>Opciones</h3>
            <ul  class="sidebar-nav">
              <li  ng-show="showplan" class="sidebar-brand"><a id="aplans" href="#ejectplan" ng-click="mostrarplans()">Planes</a></li>
              <li  ng-show="showinfo" class="sidebar-brand"><a  id="ainfocatastrofe" href="#infocatastrofe" ng-click="mostrarcatastrofe()">Catástrofe</a>
              </li>
              <li  ng-show="showperfil" class="sidebar-brand"><a  id="ainfousuario" href="#infousuario" ng-click="mostrarperfil()">Mis datos</a>
              </li>
              <!-- salir -->
              <li ng-show="showsalir" class="sidebar-brand">
                <button  id ="salir" class="btn btn-lg btn-danger btn-block" type="submit" ng-click="logout()" class="button expand round">Salir</button>
              </li>
            </ul>
            
          </div>
        </div>
        <!-- /sidebar -->
      <div class="panel-body">
          
      <!-- ERROR -->
        <div data-growl=""></div>
  <!-- VISTAS -->

      <!-- LOGIN -->

        <div id="container-login" class="container" ng-show="loginview">
        
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                </h1 class="panel-title">Iniciar Sesión</h1>
                            </div>
                            <div class="panel-body">
                                <!-- <form id="loginform"  name="loginUserForm" ng-controller="loginController"> -->
                                <form name="userForm" ng-submit="login()" novalidate>
                                            <div class="form-group">
                                            <label>Email</label>
                                            <p ng-show="userForm.$dirty && userForm.email.$invalid" class="help-block">E-mail Inválido!</p>
                                            <input type="email" name="email" class="form-control" ng-model="username" placeholder="Introduce tu Email">
                                        </div>
                                        <div class="form-group">
                                         <label>Contraseña</label>
                                            <input class="form-control" required placeholder="Introduce tu password" name="password" type="password" ng-model="password" ng-maxlength=20>
                                            <!-- <div id="infopass">
                                                <p><i class="fa fa-info-circle"></i>
                                                </p>
                                                <small>La contraseña debe contener, al menos una letra mayúscula, al menos una letra minúscula, al menos un número o caracter especial, que su longitud sea como mínimo 8 caracteres.
                                                </small>
                                            </div> -->
                                        </div>
                                         <button type="submit" class="btn btn-primary btn-lg" ng-disabled="userForm.$invalid">Entrar</button>
                                    
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <!-- EJECUTAR PLANES -->
            <!-- <div class="row" ng-view></div> -->
            <div ng-show="ejectplanview" id="ejectplan">


                <div>
                <small><b>Bienvenido:</b> {{ username }}</small>
                    <div class="row">
                        <div class="" id="ejectplan">  
                          <div class="">
                            <h3>Ejecución de Planes</h3>
                          </div>
                          <div class="form-group">
                            <div id="plnRiesgo" class="btn btn-lg btn-info btn-block form-control">
                              <i class="fa fa-lg fa-chevron-down pull-left"></i>
                                <h4 class="plnRiesgoh4">Plan de Riesgo</h4>
                            </div>
                            <div id="showplnRiesgo">
                              <ul>
                                  <li class="panel callout radius"  ng-repeat="emrR in plnEmrR | filter: buscador">
                                  <div><h4>Paso a Seguir:</h4> {{ emrR.pasos }} </div>
                                  <div><h4>Descripcion:</h4> {{ emrR.descripcion }}</div>
                                  </li>
                              </ul>
                            </div>
                          </div>
                          <div class="form-group">
                            <div id="plnEmg" class="btn btn-lg btn-info btn-block form-control">
                              <i class="fa fa-lg fa-chevron-down pull-left"></i>
                              <h4 class="plnEmgh4">Plan de Emergencia</h4>
                            </div>
                            <div id="showplnEmg">
                            <ul>
                                <li class="panel callout radius" ng-repeat="plnE in plnEmer | filter: buscador">
                                  <div><h4>Paso a Seguir:</h4> {{ plnE.pasos }}</div>
                                  <div><h4>Descripcion:</h4> {{ plnE.descripcion }}</div>
                                </li>
                            </ul>
                            </div>
                            <br>
                             <button id="btnPlanesCompletos" class="btn btn-lg btn-success btn-block" ng-click="completePlan();">Planes Completados</button>
                             
                          </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- INFORMACION DE CATATROFE -->
            <div ng-show="infocatastrofeview" id="infocatastrofe">
                <div>
                  <small><b>Bienvenido:</b> {{ username }}</small>
                </div>
                <div id="nameCastastrofe">
                  <h3>{{nombre}}</h3>
                </div>
                <div id="infoMapaColl" class="btn btn-lg btn-info btn-block form-control">
                  <i class="fa fa-lg fa-chevron-down pull-left"></i>
                  <h4 class="infoMapa">Ubicación</h4>
                </div>
                <div class="well" id="showMapa">
                  <leaflet name="mapcatastrofe" class="main-map" defaults="mapDefaults" markers="mapMarkers"   height="300px" width="100%"></leaflet>
                  <div>
                    <h4>{{distances}}</h4>
                  </div>
                  <!-- GEO -->
                  <button  id ="miubicacion" class="btn btn-lg btn-warning btn-block" type="submit" ng-click="setCoords()" class="button expand round">Mi Ubicación</button> 

                </div>
                
                <!-- FOTO -->

                <button id="btnTomarfoto" class="btn btn-lg btn-info btn-block" ng-click="capturePhoto()">Tomar una Foto del Lugar</button>
                
                <img class="img-thumbnail" style="width:100%;"  id="smallImage" src=""></img>
              <div class="col-lg">
                <div class="text-center">
                  <i class="fa fa-4x fa-check-square" id="imgEst" ng-show="estadoImg"></i>
                </div>
              </div>
                
                
                <button id="btnEnviarfoto" class="btn btn-lg btn-info btn-block" ng-click="enviaralServer()" ng-show="btnenvfoto">Enviar Foto</button> 

            </div>
  <!-- NOTIFICACION -->
  <!-- DESCOMENTAR EN EL CASO DE QUE TENGA QUE MANDARL EL REGID TOMANDOLO DEL HTML PURO -->
    <!-- <div id="regID">
      
    </div> -->

        <!-- INFORMACION DEL RESCATISTA -->
        <div ng-show="infousrview" id="infousuario">
              <div>
                  <small><b>Bienvenido:</b> {{ username }}</small>
              </div> 
                <h3>Mis datos</h3>
              <br>

              <div ng-show="userDataview" id="formuserData">
                <h3>Datos Basicos</h3>
              </div>
                 <!-- INFORMACION DE Notas SIN CONEXION -->
                <div ng-show="formNotasview" id="formPlanes">
                  
                  <!-- Mis Notas (Sin conexion) -->
                
                      <h3>Mis Notas</h3>
                      <br>
                        <form id="planesForm" name="PlanesForm">
                            <div class="form-group">

                                <div id="plnNew" class="btn btn-lg btn-info btn-block form-control">
                                    <i class="fa fa-lg fa-chevron-down pull-left"></i>
                                    Nueva Nota
                                </div>
                            </div>
                            <div id="nuevoPlan" class="form-group inline">
                                <div>
                                  <textarea class="form-control" rows="3" title="nuevoplan" placeholder="Agregue su nueva nota aqui." type="text" ng-model="nota.descripcion">
                                  </textarea>
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="button" class="btn btn-sm btn-success" title="Agregar" ng-click="addNotes()">
                                        <i class="fa  fa-3x fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table table-striped table-condensed table-hover">
                                    <thead>
                                      <!-- <h3>Notas Creadas</h3> -->
                                        <tr>
                                            <th>Orden</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in myNotes.nota">
                                            <td>{{$index}}</td>
                                            <td>{{row.descripcion}}</td>
                                            <td>
                                                <button type="button" ng-click="removeItemMyNota(row)" class="btn btn-sm btn-danger pull-right">
                                                  <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <br>
                    

                  <button ng-click="saveNotas()" type="button" class="btn btn-lg btn-primary">Guardar Notas</button>

                </div>  <!--DEL NG-SHOW -->







        </div><!--DEL INFO VIEW-->







      </div><!--PANEL BODY-->

            
      <div class="footer">
        <div id="contact" class="container text-center">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>SICA Team Work</strong></h4>
            <p class="text-muted">Copyright &copy; SICA Development 2014</p>
            <i class="fa fa-desktop fa-fw fa-2x"></i>
            <i class="fa fa-tablet fa-fw fa-2x"></i>
            <i class="fa fa-mobile fa-fw fa-2x"></i>
          </div>
        </div>
        
      </div>
    </div><!--DEL wrapper -->
  </div><!--DEL MAIN -->

<!-- MY FUNCTIONS -->
  <script type="text/javascript" src="js/myFunctions.js"></script>   
  <script type="text/javascript">
  
 // app.initialize();


    // var pictureSource;   // picture source
    // var destinationType; // sets the format of returned value 

    // Wait for PhoneGap to connect with the device
   
    document.addEventListener("deviceready",onDeviceReady,false);

    // PhoneGap is ready to be used!
    function onDeviceReady() {

        var conectado = isConected();

        if(conectado)
        {
           // alert("conectadooo!!");
           //noti
          var pushNotification = window.plugins.pushNotification;
          pushNotification.register(app.successHandler, app.errorHandler,{"senderID":"1057790087548","ecb":"onNotificationGCM"});

          //CHECK CONECTION STATUS


          // var ws = new WebSocket('ws://echo.websocket.org');

          // ws.onopen = function () {
          //     alert('open');
          //     console.log('open');
          //     this.send('hello');         // transmit "hello" after connecting
          // };

          // ws.onmessage = function (event) {
          //   console.log(event.data);    // will be "hello"
          //   this.close();
          //   alert(event.data);



          // };

          // ws.onerror = function () {
          //   console.log('error occurred!');
          //   alert('error occurred!');
          // };

          // ws.onclose = function (event) {
          //   console.log('close code=' + event.code);
          //   alert('close code=' + event.code);
          // };
        }
        else
        {
          growl.addWarnMessage("No existe conexion con Internet");
        }


    }//end ready


  //notificacion
  function successHandler(result) {
    // alert('Callback Success! Result = '+result)

    //aca deberia preguntar las coordenas constantemente


  }
  function errorHandler(error) {
    alert(error);
  }

  function onNotificationGCM(e) {
      switch( e.event )
      {
          case 'registered':
              if ( e.regid.length > 0 )
              {
                  console.log("Regid " + e.regid);

                  //DESCOMENTAR PARA TESTEO
                  // alert('registration id = '+e.regid);
                 

             // mando con.ajax() el regId


              }
          break;
          case 'message':
                // if this flag is set, this notification happened while we were in the foreground.
                // you might want to play a sound to get the user's attention, throw up a dialog, etc.
                if ( e.foreground )
                {

                    // on Android soundname is outside the payload.
                    // On Amazon FireOS all custom attributes are contained within payload
                    var soundfile = e.soundname || e.payload.sound;
                    // if the notification contains a soundname, play it.
                    var my_media = new Media("/android_asset/www/"+ soundfile);
                    my_media.play();
                }
          break;

          case 'error':
            alert('Error del GCM = '+e.msg);
          break;

          default:
            alert('GCM esta fallando.');
            break;
      }
  }


  // Called when a photo is successfully retrieved
  //
  // function onPhotoDataSuccess(imageData) {
  //   // Uncomment to view the base64 encoded image data
  //   // console.log(imageData);

  //   // Get image handle
  //   //
  //   // var smallImage = document.getElementById('smallImage');

  //   // // Unhide image elements
  //   // //
  //   // smallImage.style.display = 'block';

  //   // // Show the captured photo
  //   // // The inline CSS rules are used to resize the image
  //   // //

  //   // smallImage.src = "data:image/jpeg;base64," + imageData;
  
  //   // $("#btnEnviarfoto").show();
  // }

 


  // Called if something bad happens.
  // 
  function onFail(message) {
    alert('Failed because: ' + message);
  }

    </script>
  </body>
</html>



