/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
  /* background: url(../img/paper.png) repeat;*/
}
.footer{
  /*background: url(../img/paper.png) repeat;*/
  }
a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}
.navbar-fixed-bottom {

  background-color: black;

}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}
.divider {
	margin-top:32px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  height:40px;
  width:40px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
    /*text-shadow: 2px 2px black;*/
    color : #1A1A1A;
    background-color: transparent;
    border: transparent;
    /*box-shadow: 1px 1px transparent;*/
}
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}
/* About */
.about {
  color: #ffffff;
  padding-top:7%;
  height: 100%;
  width: 100%;
  /*
  background: url(../img/bg_suburb.jpg) no-repeat center center fixed;*/
  background: url(../img/catastrofes4_blur.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-content {
    padding-top: 80px;
}
.bg-primary {
    color: #000;
}
.sidebar-brand > a{ 

  color:#ffffff;

}
.sidebar-brand {

  color:#ffffff;

}
/*Probando angular js*/
.hecho-true {
  text-decoration: line-through;
  color: grey;
}
#wrapper {
/*z-index: 0;*/
padding-left: 0px;
padding-right: 250px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#wrapper.toggled {
padding-right: 0px;
top: 0px;
right: 0px;
}
#sidebar-wrapper {
position: fixed;
left: auto;
right: 0px;
width: 0;
height: 100%;
margin-left: -250px;
overflow-y: auto;
background: #000;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right: -250px;
}
.sidebar-nav {
position: absolute;
top: 0;
width: 100%;
margin: 0;
padding: 0;
list-style: none;
}
.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}
.sidebar-nav li a {
display: block;
text-decoration: none;
color: #fff;
}
.sidebar-nav li a:hover {
text-decoration: none;
color: #fff;
background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 40px;
padding-top: 70px;
}
/*CAMBIA LA A*/
.sidebar-nav > .sidebar-brand a {
color:#fff;
padding: 15px;

}
.sidebar-nav > .sidebar-brand a:hover {

background: #333333;;

}
@media(max-width:768px) {
  
  #menu-toggle{
    
    position: fixed;
    right: 0px;
    margin-top: 15px;
    /*z-index: 5*/
    
  }
  #menu-toggle-close{
    
    
    right: 0px;
    color: #fff;
    margin-top: 15px;
    padding: 10px;
    /*z-index: 5*/
    
  }
  
  #wrapper {
  padding-right: 0px;
  padding-left: 0px;
  /*z-index: 0;*/
  }

  #wrapper.toggled {
  padding-right: 0px;
  z-index: 0; 
  right: 0;
  }
  #sidebar-wrapper {
  width: 170px;
  padding-right: 0px;
  z-index: 1;
  }
  #wrapper.toggled #sidebar-wrapper {
  width: 0;
  }
  #wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
  }
  .box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    /*background: url(../img/grain.png) repeat;*/
    background-color: #54556C;
    text-shadow: 2px 2px black;
    
  }

}

/*LOGIN*/
.bg-primary{
  background-color: #ffffff;
  padding-top: 40px;
}
.box h3{
  color: #fff;
}
.panel-body{
  width: 100%;
  height: 100%;
  /*background: url(../img/paper.png) repeat;*/
}
#container-login{
  
  height: 100%;
  margin-top: 50px;
}
.panel-default{

  height: 100%;
}
#ejectplan ul li{
  /*background: url(../img/paper.png) repeat;*/
  background-color: transparent;
  border: transparent;
  box-shadow: 1px 1px transparent;
}
#infocatastrofe{
  background-color: transparent;
  border: transparent;
  box-shadow: 1px 1px transparent;
}
.growl{position:fixed;top:10px;right:10px;float:right;width:250px;z-index: 9999;}.growl-item.ng-enter,.growl-item.ng-leave{-webkit-transition:.5s linear all;-moz-transition:.5s linear all;-o-transition:.5s linear all;transition:.5s linear all}.growl-item.ng-enter,.growl-item.ng-leave.ng-leave-active{opacity:0}.growl-item.ng-leave,.growl-item.ng-enter.ng-enter-active{opacity:1}

.help-block{
  color:red;
}
/*GEO*/
#getIt {
width: 400px;
text-align: center;
margin: 10px auto;
border-radius: 10px;
border: 1px solid #000;
background-color: #E4EDFF;
padding: 15px 0;
}
.hds {
padding: 10px;
font-size: 24pt;
color: #C9D8BF;
}
.ds {
padding: 10px;
color: #FFF;
}
#plnRiesgo {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 50px;
}
#plnEmg{
  height: 50px;
  margin-bottom: 20px;
}
#planescompletados{
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.plnRiesgoh4{
  display: inline;
}
.plnEmgh4{
 display: inline; 
}
#nameCastastrofe{
  margin-bottom: 50px;
}
#infoMapaColl{
  margin-bottom: 20px;
  height: 45px;
  vertical-align: text-middle;
}
#miubicacion{
  margin-top: 20px;
}

#btnPlanesCompletos{
  margin-top: 20px;
}
.fa-check-square{
  color: #12B512;
  background-color: #F7FAF7;
  opacity: 0.65;
}
.fa-plus-square{
  color: #12B512;
  background-color: #F7FAF7;
  opacity: 0.65;
}
