
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">

    <ui:define name="content">
    	<h:form role="form"> 
         <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
						<h1 class="page-header">
							<h:outputText value="#{msg.creacionEdicionCatastrofe}" />
						</h1>
					</div>
                <!-- /.col-lg-12 -->
            </div>
            
					<!--Crear nuevo Botonera -->
				<div class="row">
					<div class="panel-body">
						<h:commandLink class="btn btn-primary btn-sm"
							action="#{listadoCatastrofeBean.crearEventoCatastrofe()}" value="#{msg.valoresComunesCrearNuevo}">
						</h:commandLink>
					</div>
				</div>

				<!-- Grilla de contenidos -->
	            <div class="row">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading"><h:outputText value="#{msg.eventosCatastrofesListado}" /></div>
	
						<div class="panel-body">
							<div class="table-responsive">

							<!-- Table  -->
							<h:dataTable value="#{listadoCatastrofeBean.listadoCatastrofes}" var="catastrofe"
								styleClass="table table-striped table-bordered table-hove">

								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesId}" />
									</f:facet>    				
								      	#{catastrofe.id}
								</h:column>
								
								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesNombre}" />
									</f:facet>    				
								      	#{catastrofe.nombre}
								</h:column>		
								
								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesMagnitud}" />
									</f:facet>    				
								      	#{catastrofe.magnitud}
								</h:column>	
								
								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesEstado}" />
									</f:facet>    				
								      	#{catastrofe.estado}
								</h:column>	
								
								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesFechaComienzo}" />
									</f:facet>    				 
								      	#{catastrofe.fechaComienzo}
								</h:column>									

								<h:column>
									<f:facet name="header">
										<h:outputText value="#{msg.valoresComunesFechaFin}" />
									</f:facet>    				
								      	#{catastrofe.fechaFin}
								</h:column>								
																																							
								
								<h:column span="3">
									
									<h:commandLink class="btn btn-success btn-circle btn-grilla" title="#{msg.editar}"
										action="#{listadoCatastrofeBean.toGestionCatastrofe()}" value="">
										<i class="glyphicon glyphicon-pencil"></i>
										<f:setPropertyActionListener target="#{listadoCatastrofeBean.idCatastrofe}" value="#{catastrofe.id}"></f:setPropertyActionListener>
									</h:commandLink>										
									
									<h:commandLink class="btn btn-info btn-circle btn-grilla" title="#{msg.activar}"
										action="#{listadoCatastrofeBean.activarCatastrofe()}" value="">
										<i class="glyphicon glyphicon-ok"></i>
										<f:setPropertyActionListener target="#{listadoCatastrofeBean.idCatastrofe}"
											value="#{catastrofe.id}"></f:setPropertyActionListener>
									</h:commandLink>	
									
									<h:commandLink class="btn btn-primary btn-circle btn-grilla" title="#{msg.finalizar}"
										action="#{listadoCatastrofeBean.finalizarCatastrofe()}" value="">
										<i class="glyphicon glyphicon-off"></i>
										<f:setPropertyActionListener target="#{listadoCatastrofeBean.idCatastrofe}"
											value="#{catastrofe.id}"></f:setPropertyActionListener>
									</h:commandLink>																		

									<h:commandLink class="btn btn-warning btn-circle btn-grilla"
										action="#{listadoCatastrofeBean.cancelarCatastrofe()}" value="" title="#{msg.cancelar}">
										<i class="glyphicon glyphicon-remove"></i>
										<f:setPropertyActionListener target="#{listadoCatastrofeBean.idCatastrofe}"
											value="#{catastrofe.id}"></f:setPropertyActionListener>
									</h:commandLink>
									
								</h:column>
							</h:dataTable>
						</div>
						</div>
					</div>
				</div>			            
			</div>
		</h:form>
		<script type="text/javascript">
		$( document ).on('ready', function(){ 
		
		});
		</script>
	</ui:define>
</ui:composition>
		
</html>