<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      

<ui:composition template="/WEB-INF/xhtml/template/template.xhtml">

	<ui:define name="content">
		
		<h:form role="form" id="catastrofeForm"> 
         <div id="page-wrapper">
				<div class="row">
					<!-- cabecera gestion catastrofe -->
               		<div class="col-md-12">
						<h1 class="page-header">
							<h:outputText value="#{msg.creacionEdicionCatastrofe}" />
						</h1>
					</div>	
				</div>				
				<div class="row">			
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#datos" data-toggle="tab"> <h:outputText value="#{msg.valoresComunesDatosBasicos}" /> </a>                                
                                </li>
                                <li><a href="#rescatistas" data-toggle="tab"><h:outputText value="#{msg.valoresComunesRescatistas}" /></a>
                                </li>
                                <li><a href="#ongs" data-toggle="tab"> <h:outputText value="#{msg.valoresComunesOngs}" /> </a>
                                </li>                              
                                <li><a href="#galeria" data-toggle="tab"> <h:outputText value="#{msg.valoresComunesGaleria}" /> </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="datos">

									<!-- datos gestion catastrofe -->
									
									<div  class="col-md-5">
										<div class="row">
											<div class="col-md-6">
											    <a href="#" class="thumbnail" title="#{msg.valoresComunesCargarImagen}" >
											    	<h:graphicImage value="../../resources/img/folder_web_upload.png"/>
											    </a>
											</div>
											<div class="col-md-6" >
												<b><h:outputText value="#{msg.valoresComunesId}" /></b>
												<div class="form-group">
													<h:inputText id="cata_id" class="form-control" value="#{catastrofeBean.cata.id}" readonly="true"></h:inputText>
													<h:inputHidden id="cata_hidden_id" value="#{catastrofeBean.cata.id}"> </h:inputHidden>
												</div>
				
												<b><h:outputText value="#{msg.valoresComunesNombre}" /></b>
												<div class="form-group">
													<h:inputText id="nombre" class="form-control" value="#{catastrofeBean.cata.nombre}"></h:inputText>
												</div>
												
												<b><h:outputText value="#{msg.tipoCatastrofe}" /></b> 
												<div class="form-group">
													<h:selectOneMenu id="cata_tipo" value="#{catastrofeBean.cata.idTipo}" class="selectpicker form-control">
													   	<f:selectItems value="#{catastrofeBean.tipos}" var="tipo" itemValue="#{tipo.id}" itemLabel="#{tipo.nombre}" />
													</h:selectOneMenu>	
												</div>									
													
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<b><h:outputText value="#{msg.valoresComunesMagnitud}" /></b>
												<div class="form-group">
													<h:selectOneMenu id="cata_magnitud" value="#{catastrofeBean.cata.magnitud}" class="selectpicker form-control">
													   	<f:selectItem data-icon="glyphicon-heart" itemValue="ALTA" itemLabel="#{msg.magnitudAlta}" />
													   	<f:selectItem data-icon="glyphicon-heart" itemValue="MEDIA" itemLabel="#{msg.magnitudMedia}" />
													   	<f:selectItem data-icon="glyphicon-heart" itemValue="BAJA" itemLabel="#{msg.magnitudBaja}" />
													</h:selectOneMenu>	
												</div>															
											</div>						
											<div class="col-md-6">
												<b><h:outputText value="#{msg.valoresComunesEstado}" styleClass="select_input" /></b>
												<div class="form-group">
													<h:selectOneMenu id="cata_estado" value="#{catastrofeBean.cata.estado}" class="selectpicker form-control">
													   	<f:selectItem data-icon="glyphicon-heart" itemValue="ACTIVA" itemLabel="#{msg.estadoCatastrofeActivo}" />
													   	<f:selectItem data-icon="glyphicon-heart" itemValue="FINALIZADA" itemLabel="#{msg.estadoCatastrofeFinalizado}" />
													   	<f:selectItem data-icon="glyphicon-heart" itemValue="CANCELADA" itemLabel="#{msg.estadoCatastrofeCancelado}" />
													</h:selectOneMenu>		
												</div>	
											</div>											
										</div>
										
										<div class="row">
											<div class="col-md-6">
												<b><h:outputText value="#{msg.valoresComunesFechaComienzo}" /></b>
												<div class="form-group">
														<h:inputText id="cata_fechaInicio"  class="form-control" value="#{catastrofeBean.cata.fechaComienzo}" />
														<span class="add-on"><i class="icon-th"></i></span>
												</div>								
											</div>
											<div class="col-md-6">
												<b><h:outputText value="#{msg.valoresComunesFechaFin}" /></b>
												<div class="form-group">
														<h:inputText id="cata_fechaFin"  class="form-control" value="#{catastrofeBean.cata.fechaFin}" />
														<span class="add-on"><i class="icon-th"></i></span>
												</div>							
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<b><h:outputText value="#{msg.valoresComunesDescripcion}"></h:outputText></b>
													<h:inputTextarea value="#{catastrofeBean.cata.descripcion}" class="form-control" rows="4" />
												</div>							
											</div>
										</div>
									</div>
												
									<!-- mapa gestion catastofe -->
									<div class="col-md-7">
									
										<b><h:outputText value="#{msg.valoresComunesUbicacionGeografica}" /></b>
										<div id="mapCatastrofe"></div>
										<div class="row">
											<div class="col-md-6">
												<b><h:outputText value="#{msg.latitud}" /></b>
												<div class="form-group"> 
													<h:inputText class="form-control" id="lat_value" value="#{catastrofeBean.cata.lat}" readonly="true"></h:inputText>
													<h:inputHidden id="lat_hidden" value="#{catastrofeBean.cata.lat}"> </h:inputHidden>
												</div>
											</div>
											<div class="col-md-6">
												<b><h:outputText value="#{msg.longitud}" /></b>
												<div class="form-group"> 
													<h:inputText class="form-control" id="lon_value" value="#{catastrofeBean.cata.lon}" readonly="true"></h:inputText>
													<h:inputHidden id="lon_hidden" value="#{catastrofeBean.cata.lon}"> </h:inputHidden>
												</div>
											</div>
										</div>
											<div class="row">
													<div class="pull-right">
														<h:commandButton class="btn btn-lg btn-success btn-block"
															action="#{catastrofeBean.salvarCatastrofe()}"
															value="#{msg.valoresComunesSalvar}">
														</h:commandButton>
													</div>
											</div>
									</div>  

                                </div>
                                <div class="tab-pane fade" id="rescatistas">
                                	<div class="row top-buffer">
                                	
                                		<div class="col-md-3"></div>
                                		
                                		<div class="col-md-4">
				                                <h:selectManyListbox size="20" value="#{catastrofeBean.rescatistaAsignados}" id="select-rescatista" >
													<f:selectItems value="#{catastrofeBean.todosRescatistas}" var="resc" itemValue="#{resc.id}" itemLabel="#{resc.nick}" />
												</h:selectManyListbox>
										</div>
										
										<div class="col-md-4"></div>
	                                </div>
                                </div>
                                <div class="tab-pane fade" id="ongs">
                                	<div class="row top-buffer">
                                	
                                		<div class="col-md-3"></div>
                                		
                                		<div class="col-md-4">
				                                <h:selectManyListbox size="20" value="#{catastrofeBean.ongsAsignadas}" id="select-ongs" >
													<f:selectItems value="#{catastrofeBean.todasOng}" var="ong" itemValue="#{ong.id}" itemLabel="#{ong.nombre}" />
												</h:selectManyListbox>
										</div>
										
										<div class="col-md-4"></div>
	                                </div>
                                </div>                               
                                <div class="tab-pane fade" id="galeria">
                                	<div class="row top-buffer">
                                		<div class="col-md-2 col-md-offset-2">
											<div id="galleriaSica">
<!-- 											    <img src="../../resources/img/switch.png"></img> -->
													<ui:repeat value="#{catastrofeBean.cata.imagenes}" var="img">
													    <img src="../..${img.ruta}"></img>
													</ui:repeat>
											</div>
										</div>	
									</div>
									<div class="row">
										<div class="col-md-12">
											<h:inputHidden id="idImages" value="#{catastrofeBean.idImages}"></h:inputHidden>
											<ui:include src="/WEB-INF/xhtml/botones/botonCargarImagen.xhtml"/>
										</div>
									</div>
                                </div>
                            </div>                            
                            
                       </div>
                    </div>
				</div>
					
			</div>
		</h:form>
		<ui:include src="/xhtml/catastrofe/detalleCargarImagen.xhtml"/>
		
		
		    <script type="text/javascript">
		    
		    	$( document ).on('ready', function(){

					//galeria ****************************************************************************************
					Galleria.loadTheme('../../resources/js/galeria/themes/classic/galleria.classic.min.js');
				
					Galleria.run('#galleriaSica', { 
						width: 700,
						height: 467
					});
		    	

		    		$('#myModal').on('show.bs.modal', function(event) {
			    		
		    		});	    				    	

		    		$('.selectpicker').selectpicker({
		    			  format: 'mm-dd-yyyy',
		    		      size: 10
		    		});	

		    		$('#catastrofeForm\\:select-rescatista, #catastrofeForm\\:select-ongs, #catastrofeForm\\:select-fuentes').multiSelect({
		    			  selectableHeader: '<div class="custom-header">Seleccionables</div>',
		    			  selectionHeader: 	'<div class="custom-header">Seleccionados</div>'

		    		});		    			    	

					$('#catastrofeForm\\:cata_fechaInicio, #catastrofeForm\\:cata_fechaFin').datepicker({
						format: 'dd-mm-yyyy',
						autoclose: true
					});				


					//validaciones ***************************************************************
				    $('#catastrofeForm').bootstrapValidator({
				    	live: 'enabled',
				        fields: {
				        	'catastrofeForm:nombre': {
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
				                }
				        	},
				        	'catastrofeForm:cata_fechaInicio':{
				                validators: {
				                    notEmpty: {
				                        message: 'Campo Obligatorio'
				                    }
				                }
						     },
					        'catastrofeForm:lon_value':{
					            validators: {
									notEmpty: {
										message: 'Debe marcar un punto en el mapa.'
					                }
					             }
							  },
							 'catastrofeForm:lat_value':{
						         validators: {
						                    notEmpty: {
						                        message: 'Debe marcar un punto en el mapa.'
						                    }
						         }
							}
				        }				        
				    });			
					
			    	//funciones de mapa **********************************************************************************
			    	
			    	//cargar valores del from.
			    	var lat = $("#catastrofeForm\\:lat_value").val();
			    	var lon = $("#catastrofeForm\\:lon_value").val();

			    	//inicializar en caso de que no existan.
					if (!lat){
						lat = mapsDefault['lat'];
						lon = mapsDefault['lon']; 		
					}			    	
					
			    	//creacion de objecto lan - lon
					var latlng = L.latLng(lat, lon);
					
									
			    	var map = L.map('mapCatastrofe').setView( latlng , 7);

			    	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			    	    attribution: '&copy; <a href="http://osm.org/copyright"> SICA Map </a> contributors',
			    	    maxZoom: 12,
			    	}).addTo(map);
			    	
			    	var marker = L.marker([lat, lon],{
			    			draggable: true
				    }).addTo(map);	

			        var drawnItems = new L.FeatureGroup();
			        map.addLayer( drawnItems );

			        var drawControl = new L.Control.Draw({
			            draw: {
			                polygon: true,
			                circle: false,
			                rectangle: false,
			                polyline: false,
			                marker: false
			            },				        
			            edit: {
			                featureGroup: drawnItems
			            }
			        });
			        map.addControl(drawControl);

			        //evento disparado al crear
			        map.on('draw:created', function (e) {
			            var type = e.layerType,
			                layer = e.layer;
			            var latLngs = layer.getLatLngs();
			            drawnItems.addLayer(layer);
			        });   

			        map.on('draw:deleted', function (e) {
			            var layers = e.layers;
			            layers.eachLayer(function (layer) {
			                if (layer instanceof L.Polyline){

			                }
			            });
			        });			        	

		    		//evento disparado al draguear item.
			    	marker.on('dragend', function(event) {
			    	    var marker = event.target; 
			    	    var result = marker.getLatLng();  
			    	    $("#catastrofeForm\\:lat_hidden").val( result.lat );
			    	    $("#catastrofeForm\\:lon_hidden").val( result.lng );
			    	    $("#catastrofeForm\\:lat_value").val( result.lat );
			    	    $("#catastrofeForm\\:lon_value").val( result.lng );
			    	});	

			    	map.on('draw:edited', function (e) {
			    	    var layers = e.layers;
			    	    layers.eachLayer(function (layer) {
			    	        //do whatever you want, most likely save back to db
			    	        console.log("aca");
			    	    });
			    	});			    		    		
		    	});
    	    	
		    </script>   		
		
	</ui:define>

</ui:composition>

</html>