<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:sic="http://sica.com/facelets">
      
<ui:composition template="/WEB-INF/xhtml/template/template_modal.xhtml">

	<ui:define name="modal_header">
		<h4 class="modal-title" id="myModalLabel"><h:outputText value="#{msg.imagenCargar}"></h:outputText> </h4>
	</ui:define>
	
		<ui:define name="modal_body">
				<form id="imagenForm"> <!--  action="" method="post" enctype="multipart/form-data" -->
					<div class="modal-body"> 
						   <p>
							<input type="file" class="filestyle" name="file" size="50" data-buttonText="Seleccionar" />
						   </p>
							<input type="hidden" name="nombreFile" id="nombreFile" ></input>
							<button id="upload" type="submit" class="btn btn-primary btn-sm" >
								<h:outputText value="#{msg.valoresComunesCargarImagen}"></h:outputText>
							</button>
					</div>						
				</form>
			
			<script type="text/javascript">

			$( document ).on('ready', function(){ 

			    var url = requestParams['host'] + ":" + 
	    		  requestParams['puerto'] + "/" + 
	    		  requestParams['contexto'] + "/" + 
	    		  requestParams['path'] + "/" + "uploads/file"	

	    		  $("#imagenForm").on('submit',(function(e){
	    			  	e.preventDefault();
		    		  	var file = $('input[name=file]');
		    		  	$('input[name=nombreFile]').val( file[0].files[0].name );
		    		  	var postData = new FormData(this);
	    		        $.ajax({
	    		            type:'POST',
	    		            url: url, 
	    		            data: postData, 
	    		            cache: false,
	    		            mimeType: "multipart/form-data",
	    		            contentType: false,
	    		            processData: false
	    		        })
	    		        .done(function(data) {
							var val = $("#catastrofeForm\\:idImages").val();
							$("#catastrofeForm\\:idImages").val( val + data + ",");
						    $('#myModal').modal('hide');
						});
					}));	    		  
				});		   	  			
			    											
			</script>
	</ui:define>
	
</ui:composition>

</html>