<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>	
	<ui:composition>
		<div class="modal-footer">
			<b:commandButton class="btn btn-sm btn-success" type="submit" value="#{action}" ></b:commandButton>
			<b:button value="close" dismiss="modal" onclick="return false;" />
		</div>
	</ui:composition>
</h:body>	
</html>