<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<ui:insert name="modal_header"></ui:insert>
				</div>
				
				<div class="modal-body">
					<ui:insert name="modal_body"></ui:insert>
				</div>
	
				<div class="modal-footer">
					<ui:insert name="modal_footer"></ui:insert>
				</div>
				
			</div>
		</div>
	</div>
</html>