<carousel interval="7000">
  <slide ng-repeat="feed in feeds" active="feed.active">
    <h4 class="text-center"><a target="_new" href="" ng-bind-html="feed.title"></a></h4>
    <p ng-bind-html="!summary ? feed.content : feed.contentSnippet"></p>
  </slide>
</carousel>