<!DOCTYPE html>
<html ng-app="sicaApp" lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SICA RESCATE</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="components/awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- script references -->

    <!-- jQuery js -->
    <script src="js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Angular libs js -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>

    <script src="lib/angular/angular-animate.min.js"></script>

    <!-- main scripts -->
    <!--<script type="text/javascript" src="cordova.js"></script>-->
    <script src="js/app.js"></script> 
    <script type="text/javascript" src="js/index.js"></script>

    <script src="js/controllers.js"></script> 
    <script src="js/services.js"></script>
    <script src="js/appRoutes.js"></script>

    <!-- cookies -->
    <!-- <script src="js/angular.js"></script> -->
    <script src="js/cookies.js"></script>

    <script rel="stylesheet" href="css/normalize.css"  media="screen" ></script>
    <!-- MAP-->
    <!-- // <script rel="stylesheet" href="css/leaflet.css"></script> -->
    <script rel="stylesheet" href="css/leaflet.awesome-markers.css"></script>
    
    <script rel="stylesheet" href="css/foundation.css"  media="screen" ></script>
    <!-- NOTIFICACIONES -->
    <script src="js/angular-growl.js"></script>
    <!-- NOTIFICACION -->
    <!-- <script type="text/javascript" src="PushNotification.js"></script> -->
    <!--<script type="text/javascript" charset="utf-8" src="PushNotification.js"></script>-->
    <!-- <script type="text/javascript" src="js/notify.js"></script> -->

    <!-- MD5 -->
    <script  src="js/md5.js"></script>
    <!-- magic -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
    <!-- MPAS -->
    <link rel="stylesheet" href="css/leaflet-0.7.1.css" />
    <script src="js/angular-leaflet-directive-0.7.2.min.js"></script>
    <script src="js/leaflet-0.7.1.min.js"></script> 
    <!-- MARKERS AWESOME-->
    
    <script src="js/leaflet.awesome-markers.min.js"></script>
    <!--MAP-->
    <!-- // <script src="js/angular-leaflet-directive.min.js"></script> -->
    <!-- NG-TOUCH -->
    <!-- // <script src="lib/angular/angular-touch.js"></script> -->
    <script src="lib/angular/angular-touch.min.js"></script>
    <!--<script src="lib/angular/angular-touch.min.js.map"></script>-->
    <!-- COOKIES -->
    <script src="lib/angular/angular-cookies.min.js"></script>

    <link rel="stylesheet" href="css/angular-block-ui.css"/>
    <script src="js/angular-block-ui.js"></script>
    <!-- WEB SOCKET del plugin-->
    <!--<script type="text/javascript" src="websocket.js"></script>-->
    <!--
    <script type="text/javascript">
      $("html, body").animate({ scrollTop: 0 }, 0);
    </script>
    -->
  </head>
      
  <body ng-controller="sicaController">
    <!-- main -->
    <div id="main">

      <div  id="wrapper" class="wrapper toggled">
          
        <a ng-show="mostrarMenu" id="menu-toggle" href="#" class="btn  btn-lg toggle pull-right"><i class="fa fa-align-justify"></i></a>

        <div id="sidebar-wrapper">
            <div class="box">
                <a ng-show="mostrarcruz" id="menu-toggle-close" href="#" class="btn  btn-lg toggle pull-right"><i class="fa fa-times"></i></a>

                <h3>Opciones</h3>
                <ul  class="sidebar-nav">
                    <li  ng-show="showplan" class="sidebar-brand"><a id="aplans" href="#ejectplan" ng-click="mostrarplans()">Planes</a></li>
                    <li  ng-show="showinfo" class="sidebar-brand"><a  id="ainfocatastrofe" href="#infocatastrofe" ng-click="mostrarcatastrofe()">Catástrofe</a>
                    </li>
                    <li  ng-show="showdesaparecido" class="sidebar-brand"><a  id="ainfodesa" href="#infodesa" ng-click="mostrardesa()">Desaparecidos</a>
                    </li>
                    <!-- <li  ng-show="showperfil" class="sidebar-brand"><a  id="ainfousuario" href="#infousuario" ng-click="mostrarperfil()">Mis datos</a>
                    </li> -->
                    <!-- salir -->
                    <li ng-show="showsalir" class="sidebar-brand">
                      <button  id ="salir" class="btn btn-lg btn-danger btn-block" type="submit" ng-click="logout()" class="button expand round">Salir</button>
                    </li>
                </ul>
            </div>
        </div>
          <!-- /sidebar -->
        <div class="panel-body">
          <div ng-show="usrlogin">
              <small><b>Bienvenido:</b> {{ username }}</small>
          </div>
        
          <!-- VISTAS -->
          <!-- LOGIN -->
          <div id="container-login" class="container" ng-show="loginview">
              <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                      <div class="login-panel panel panel-default">
                          <div class="panel-body">
                            <h1 class="panel">Inicio de Sesión</h1>

                              <form name="userForm" ng-submit="login()" novalidate>
                                  <div class="form-group">
                                      <label>Email</label>
                                      <p ng-show="userForm.$dirty && userForm.email.$invalid" class="help-block">E-mail Inválido!</p>
                                      <input type="email" name="email" class="form-control" ng-model="username" placeholder="Introduce tu Email">
                                  </div>
                                  <div class="form-group">
                                      <label>Password</label>
                                      <input class="form-control" required placeholder="Introduce tu password" name="password" type="password" ng-model="password" ng-maxlength=20>
                                  </div>
                                  <button type="submit" class="btn btn-primary btn-lg" ng-disabled="userForm.$invalid">Login</button>
                              </form>
                          </div> 
                      </div>
                  </div>
              </div>
          </div>
          <!-- EJECT PLAN -->
          <div ng-show="ejectplanview" id="ejectplan">
          
            <div class="row">
                <div class="" id="ejectplan">  
                  <div class="">
                    <h3>Ejecución de Planes</h3>
                  </div>
                 
                  <div class="form-group">
                   <!-- <div class="col-md-4 col-md-offset-4">-->
                      <div id="plnRiesgo" class="btn btn-lg btn-info btn-block form-control">
                        <i class="fa fa-lg fa-chevron-down pull-left"></i>
                          <h4 class="plnRiesgoh4">Plan de Riesgo</h4>
                      </div>
                    <!--</div>-->
                    <div id="showplnRiesgo">
                      <div ng-show="shownoneR" class="alert alert-success" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{plnriesgonone}}
                      </div>
                      <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                                <th>
                                  Orden
                                </th>
                                <th>
                                 Pasos a Seguir        
                                </th>
                                <th>
                                 Descripcion                                  
                                </th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="emrR in plnEmrR | orderBy:'orden'">
                              <td> 
                                {{ emrR.orden }} 
                              </td>
                              <td>
                                {{ emrR.pasos }} 
                              </td>
                              <td>
                                {{ emrR.descripcion }} 
                              </td>
                          </tr>
                          </tbody>
                      </table>
                    </div>
                  </div>
                  <div  class="form-group">
                    <div id="plnEmg" class="btn btn-lg btn-info btn-block form-control">
                      <i class="fa fa-lg fa-chevron-down pull-left"></i>
                      <h4 class="plnEmgh4">Plan de Emergencia</h4>
                    </div>
                    <div id="showplnEmg">
                      <div ng-show="shownoneE" class="alert alert-success" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{plnemernone}}
                      </div>
                      <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>
                                  Orden
                              </th>
                              <th>
                               Pasos a Seguir
                              </th>
                              <th>
                               Descripcion
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="plnE in plnEmer | orderBy:'orden'">
                                <td> {{ plnE.orden }}</td>
                                <td>
                                   {{ plnE.pasos }} 
                                </td>
                                <td>
                                   {{ plnE.descripcion }} 
                                </td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                    <button id="btnPlanesCompletos" class="btn btn-lg btn-success btn-block" ng-show="btnCompletados" ng-click="completePlan();">Completar Planes</button>
                    <!--PLANES COMPLETADOS -->
                    <div>
                      <div class="form-group">
                        <div id="planescompletados" class="btn btn-lg btn-info btn-block form-control">
                          <i class="fa fa-lg fa-chevron-down pull-left"></i>
                          <h4 class="plnRiesgoh4">Planes completados</h4>
                        </div>
                        <div id="showplnComplete">
                          <div ng-show="shownoneC" class="alert alert-success" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              {{plnCnone}}
                          </div>
                          <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th></th>
                                <th>
                                  Catástrofe
                                </th>
                                <th>
                                  Fecha
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="plnCompl in plnComplete">
                                  <td>
                                    {{$index}}
                                  </td>
                                  <td>
                                    {{ plnCompl.nombreEventoCatastrofe }} 
                                  </td>
                                  <td>
                                    {{ plnCompl.fecha }} 
                                  </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
            </div>
          </div><!-- FIN EJECT PLAN-->

      <!--</div>-->
    <!--</div>--><!--fin wrapper -->

          <!-- INFORMACION DE CATATROFE -->
          <div ng-show="infocatastrofeview" id="infocatastrofe">
            <div id="nameCastastrofe">
              <h3>{{nombreCatastrofe}}</h3>
            </div>
            <div id="infoMapaColl" class="btn btn-lg btn-info btn-block form-control">
              <i class="fa fa-lg fa-chevron-down pull-left"></i>
              <h4 class="infoMapa">Ubicación</h4>
            </div>
            <!--<div class="container">-->
            <div class="well" id="showMapa">
                <leaflet  id="map" name="mapcatastrofe" class="main-map" defaults="defaults" markers="mapMarkers" center="uruguay" height="300px">
                </leaflet>
                <div>
                  <h4>{{distances}}</h4>
                </div>
                <!-- GEO -->
                <button  id ="miubicacion" class="btn btn-lg btn-warning btn-block" type="submit" ng-click="setCoords()" class="button expand round">Mi Ubicación</button> 

            </div>
            <!--</div>-->
            <button id="btnMostrarComplCat" class="btn btn-lg btn-warning btn-block" ng-click="getComCat()">Catastrofes completadas</button> 
          </div>


          <!-- INFORMACION DE DESAPARECIDOS -->
          <div ng-show="infodesaparecido" id="infodesa">
            <div>
              <h3>Desaparecidos</h3>
            </div>
            <div class="tabledesa">
              <table class="table table-striped table-bordered">
                  <thead>
                  <tr>
                      <th>
                        Nombre
                      </th>
                      <th>
                       Apellido        
                      </th>
                      <th>
                       Edad
                      </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="desaparecidos in todosDesaparecidos">
                      <td> 
                          {{ desaparecidos.nombre }} 
                      </td>
                      <td>
                         {{ desaparecidos.apellido }} 
                      </td>
                      <td>
                         {{ desaparecidos.edad }} 
                      </td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>



          <!-- ERROR -->
          <div data-growl=""></div>
          </div><!--PANEL BODY-->
          
          <div class="footer">
            <div id="contact" class="container text-center">
              <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>SICA Team Work</strong></h4>
                <p class="text-muted">Copyright &copy; SICA Development 2014</p>
                <i class="fa fa-desktop fa-fw fa-2x"></i>
                <i class="fa fa-tablet fa-fw fa-2x"></i>
                <i class="fa fa-mobile fa-fw fa-2x"></i>
              </div>
            </div>
          </div>
      </div><!--fin wrapper -->
    </div><!--FIN DEL MAIN -->
  <script type="text/javascript" src="js/myFunctions.js"></script> 
  </body>
</html>